[2013-10-24 05:22] robertodealmeida opened #3 "Move `_original_keys` to `pydap.model.SequenceType`."
Right now `IterData` tracks the original key order by setting an attribute called `_original_keys` in the sequence. This behavior should be moved to the original class, to keep the code more simple.

[2014-03-17 02:58] robertodealmeida opened #5 "Check byte use"
I noticed in some places of the code byte is signed, while in others it's unsigned. I should verify how the DAP spec defines it (unsigned, I think) and ensure the proper type in the code.

[2014-03-17 03:00] robertodealmeida opened #6 "Test Erddap responses"
Some Erddap servers return invalid DDS responses when a deep object is returned. In that case, we should parse the DDS from the DODS response and extract the data using it.

[2014-03-17 03:01] robertodealmeida opened #7 "Python 3 support"
Python 3 support using the six module is in progress. Finish the port for release 3.2.1.

[2014-05-16 16:50] jameshiebert opened #8 "pydap.responses.das attribute order is non-deterministic"
## Description

I have been using `tox` to test the develop branch across Python versions 2.6, 2.7 and 3.3. I have noticed that when running the tests with `tox`, I get sporadic failures (ranging between 0 and 4 failures per run) in a number of tests, most commonly in test_responses_das.py.

When running the tests with the standard `nosetests` command, [all of the tests pass](https://travis-ci.org

[2015-07-26 02:27] PaulSorenson commented on #7
I noticed the sphinx docs fail in python3.4 on source I cloned from the repo today.  It was only after fixing them I came here.  Since I didn't use six my changes probably aren't appropriate to merge.  I could possibly have a look at doing this with six if nobody else is - any advice you guys have?

[2015-09-15 18:36] shoyer commented on #7
@paulsorenson in my experience, six really isn't necessary for mixed Python 2/3 support these days. So I would say it's fine not to use it.

[2015-10-01 21:06] shoyer opened #14 "New maintainer for pydap?"
@robertodealmeida -- Many of us still find pydap to be quite useful, but it's clear that you no longer have the time or inclination to support it. That's OK -- we all need to move on eventually -- but would you be willing to add someone else as an administrator who can merge pull requests and issue releases on pypi? In particular, it would be extremely valuable if someone is able to merge in Pytho

[2015-10-01 21:50] bolhovsky commented on #14
Thanks @shoyer for raising the question. And +1 for Python 3 support: we've been waiting for this for a long time.

[2015-10-01 22:08] robertodealmeida commented on #14
Hi, guys!

Sure, I would appreciate if anybody could take over, specially because @jameshiebert did all the work to support Python 3 and the PR has been waiting for my review for over a year now. I learned a lot developing pydap, but I don't have the bandwidth to support a project that I don't use anymore, and after 12 years my interested has switched elsewhere.

I'll add @shoyer as a collaborator

[2015-10-01 22:09] shoyer commented on #14
Great, thanks Roberto! I'm Stephan.Hoyer on PyPI.

On Thu, Oct 1, 2015 at 3:08 PM, Roberto De Almeida <notifications@github.com

[2015-10-01 23:02] marcelorodriguesss commented on #14
Hi Roberto,

My name is Marcelo and I work at Funceme (Fortaleza - Ceará - Brasil). I
use Pydap and Pupynere everyday. I am new in python programming, there is
some way to contribute in Pydap project?

Marcelo Rodrigues
Em 01/10/2015 19:08, "Roberto De Almeida" <notifications@github.com>
escreveu:

[2015-10-02 16:51] jameshiebert commented on #14
Hi All,
Thanks for bringing this up @shoyer! Personally, I don't think that I have the capacity to serve as the maintainer, but I'm happy to continue contributing to the project (through further PRs and such).

[2015-10-03 23:17] shoyer commented on #14
I don't have any plans for this project beyond the occasional bug fix and Python 3 support, so if anyone else has bigger ideas, they should definitely step up.

Fortunately, Roberto has left pydap in pretty good shape: the project is generally quite mature. It looks like there's been a lot of work on `develop` branch that hasn't made it into a release yet. @robertodealmeida was that mostly done an

[2015-10-12 21:49] jfburkhart commented on #14
@shoyer and @robertodealmeida , great that you guys will move this package toward Python 3. I will certainly be willing to contribute in the form of PRs, but would fear I would not be a well engaged maintainer (as noted by my +9 day response due to having been in the field!).

[2015-10-13 15:38] jgallagher59701 commented on #14
1+ WRT moving toward Python 3

I also cannot take this on - I’m not that good at Python nor do I have much time. However, ROberto and I have talked about adding DAP4 support to pydap - I can help with that, modulo my lack of much Python skill.

--
James Gallagher
jgallagher@opendap.org

[2016-05-04 21:22] jameshiebert commented on #14
Is there still any interest in this from folks? My organization is going to be needing to update our data portal(s) this year and I'd be willing to pick up the torch for a little while. It's been a couple years since I've worked with the code in great detail, but we're kind of tired of running our silly forked version, and I think that it will come back to me.

[2016-05-04 21:28] shoyer commented on #14
I think it would be great if you could take over maintenance. I had an
abstract interest in Python 3 support so we could move to Python 3 at my
old job, but I've moved on now.

On Wed, May 4, 2016 at 2:22 PM James Hiebert <notifications@github.com>
wrote:

[2016-05-04 22:02] MattF-NSIDC commented on #14
+1

@jameshiebert I am absolutely interested in seeing this project maintained, especially python 3 support. I was having a conversation with co-workers about this at the exact moment you posted that question.

[2016-05-04 22:38] jgallagher59701 commented on #14
+1

A big thumbs up from OPeNDAP.

--
James Gallagher
jgallagher@opendap.org

[2016-05-04 23:55] jameshiebert commented on #14
Great, that sounds like some enthusiastic support from respectable people. I'll start working on getting the Python 3 stuff merged into the 3.2 dev branch and get that release ready to go. @shoyer and @robertodealmeida are there any credentials that you can pass along that I'll need as a maintainer?

[2016-05-04 23:59] shoyer commented on #14
@robertodealmeida gave me push access to this repo so I can merge PRs, but I can't add anyone else. I do think I can add you on PyPI though.

[2016-05-05 15:02] ghisvail commented on #14
Wouldn't it make sense to transfer the repository to an organizational account where you guys can share the maintenance of the project?

[2016-05-05 15:18] robertodealmeida commented on #14
I can add more maintainer to the repo, or if you want to use a different repo I can add a note here and in pydap.org pointing to it.

[2016-05-05 15:19] robertodealmeida commented on #14
I can also transfer the ownership to @shoyer or @jameshiebert.

[2016-05-05 15:21] shoyer commented on #14
It looks like github.com/pydap is available.

I would recommend either staying here or transfer this repo rather than creating a new one, though.

[2016-05-05 15:23] ghisvail commented on #14
You guys could transfer to pydap/pydap.

[2016-05-05 15:24] robertodealmeida commented on #14
How about https://github.com/opendap? @jgallagher59701, would that be fine?

[2016-05-05 16:14] jgallagher59701 commented on #14
Yes, that would be fine.

James

--
James Gallagher
jgallagher@opendap.org

[2016-05-05 17:42] jameshiebert commented on #14
I like @ghisvail's idea of transferring ownership to a new organization, and if `pydap` is available and @jgallagher59701 prefers that over `opendap`, then let's go with that. I'll create github.com/pydap and then @robertodealmeida can you transfer ownership of pydap and the related namespace repos (pydap.handers.\*, pydap.repsonses.\*)? @shoyer if you want to add me on PyPI, I'm 'jamesmhiebert'.

[2016-05-05 17:46] jameshiebert commented on #14
Done. If anyone further is interested in being a member of the pydap organization, please let me know.

[2016-05-05 20:16] jgallagher59701 commented on #14
Good! I’d like to maintain pydap’s independence, that’s why I prefer having pydap not come under the umbrella of an existing org.

I’d like to be a member of pydap.

Thanks,
James

--
James Gallagher
jgallagher@opendap.org

[2016-05-06 16:24] robertodealmeida commented on #14
I'm not sure I can transfer ownership of the repos to github.com/pydap — my understanding is that the repos need to be forked there, no?

[2016-05-06 16:26] shoyer commented on #14
If you go to Settings for this repo and scroll down to the bottom of the
first page you should see an option for "Transfer ownership".

On Fri, May 6, 2016 at 9:24 AM, Roberto De Almeida <notifications@github.com

[2016-05-06 16:27] MattF-NSIDC commented on #14
He has to be an admin on the pydap organization as well

[2016-05-06 16:35] robertodealmeida commented on #14
Done. :)

One more thing: the current website is hosted in an S3 bucket, and updated using Paver, but of course it depends on my keys to do the upload. Let me know if you want to point the website to some other host, or take over the bucket.

[2016-05-06 16:54] shoyer commented on #14
Normally, I would recommend using ReadTheDocs, which rebuilds Sphinx documentation automatically.  But it doesn't seem to know how to handle the lack of a setup.py file in the source distribution: https://readthedocs.org/projects/pydap/

Another low maintenance option is GitHub pages: https://pages.github.com/

[2016-05-06 17:06] ghisvail commented on #14
:+1:  for either RTD or ghpages. RTD is perhaps the expected standard for Python packages.

[2016-05-06 18:55] robertodealmeida commented on #14
One thing about the current repo: the develop branch of Pydap was practically ready for a 3.2 release. If I remember correctly it had 100% unit test coverage, and @jameshiebert submitted a PR adding Python 3 support.

[2016-05-09 22:19] jameshiebert commented on #14
Hi all. Thanks for initiating this discussion and for all the help in setting me up as the new maintainer. I think that I'm good to go for proceeding with development and working towards the 3.2 release. I'm going to close this issue, but I'll open another one to resolve the (somewhat separate) issue of where to host the docs.

[2016-05-09 22:19] #14 closed

[2016-05-09 22:25] jameshiebert opened #16 "Host Pydap's documentation on Read the Docs"
As discussed in #14, we need to transition Pydap's documentation hosting to something that can be maintained by the community. [Read the Docs](https://readthedocs.org/) was favored by most, and I support that as well, but there have been some challenges [building the documentation](https://readthedocs.org/projects/pydap/builds/3977804/).

@shoyer To fix the import error, I think that you just have

[2016-05-09 22:34] shoyer commented on #16
Just added you as a maintainer for RTD

On Mon, May 9, 2016 at 3:25 PM, James Hiebert <notifications@github.com>
wrote:

[2016-05-09 22:44] jameshiebert commented on #16
Thanks

[2016-06-10 12:35] ghisvail opened #18 "Incomplete list of install dependencies"
`pydap/wsgi/cache.py` requires `h5py`, `requests` and `webob`, which are not listed as install requirements. I am surprised travis has not picked that up, assuming it is operational for `pydap`.

[2016-06-10 12:42] ghisvail commented on #18
Or they could be in `extras_require` assuming `pydap.wsgi` is considered optional.

[2016-06-10 14:13] jameshiebert commented on #18
This had been fixed in the [develop](/pydap/pydap/tree/develop) branch (13e215d1, 245a979e), but unfortunately has yet to make it to [master](/pydap/pydap/tree/master). I think that *should* happen in the next month or so, so please stay tuned.

[2016-07-02 08:42] ghisvail commented on #18
@jameshiebert please ping me here when the release is made. Cheers.

[2016-07-26 11:52] bucricket opened #19 "NASA openDAP"
Anything on the LP DAAC pool and openDap servers
http://opendap.cr.usgs.gov/opendap/hyrax/
now requires an OAuth 2 login redirected through https://urs.earthdata.nasa.gov.  I'm still quite new to pydap but I find it so useful and I hope there is a solution through pydap.

Any help would be fantastic!

[2016-07-28 23:23] jgallagher59701 opened #20 "Merge URS authentication branch"
The Merge request for the URS authentication seems like it's languishing. See Pull request #11 (Added support for NASA/URS SSO service)

Thanks,
James

[2016-07-29 10:26] ghisvail commented on #18
Any progress?

[2016-08-02 12:40] bucricket commented on #20
Thanks to James for adding this.  This is really needed now that NASA requires logins through https://urs.earthdata.nasa.gov.  Please merge this!

Thanks!
Mitch

[2016-08-04 11:57] pmacaodh commented on #20
I second that and would rather use the production version than the branch to access the data.  Thanks.

[2016-09-15 04:33] lewismc opened #23 "AttributeError: module 'string' has no attribute 'strip' when installing with Python3"
Hi folks, [as noted some time ago](https://groups.google.com/a/opendap.org/forum/#!msg/support/-_15rXI-4dI/vrd0_GvjCwAJ) Pydap cannot be installed using Python3.
This issue should fix the issue below.

[code]

[2016-09-15 06:14] lewismc commented on #23
This PR I am sending also ensures that all of the code is PEP8 compliant and upgrades to Python 3 syntax.

[2016-10-29 05:16] jameshiebert commented on #19
Can you confirm that this is related to #20 and #11? I'm going to close this issue assuming that it is, but if I happen to be wrong, feel free to re-open the issue.

[2016-10-29 05:16] #19 closed

[2016-10-29 06:32] jgallagher59701 commented on #19
@jameshiebert They are the same - sorry for the duplicate.

[2016-11-01 14:53] bucricket commented on #19
So will issue #20 be merged?

On Sat, Oct 29, 2016 at 1:16 AM, James Hiebert <notifications@github.com>
wrote:

--
Mitchell A. Schull, PhD

Disclaimer: This email and any files transmitted with it are confidential
and intended solely for the use of the individual or entity to whom they
are addressed, that is, you should not disseminate, distribute or copy this
e-mail. If you have received this ema

[2016-11-01 15:17] jameshiebert commented on #19
Yes, I support this in principle. However, it's not a simple button-click-merge since much has changed between the master and develop branch and between Python 2 and Python 3. I have a branch going that's rebased the changes in #20 onto the develop branch, but I don't think that I have any way to test it until my URS account is confirmed (created it last weekend).

[2016-11-01 16:05] bucricket commented on #19
Ok great!  Looking forward to an official update.  Now I'm just hacking it.

Thanks!

Mitch

[2016-11-02 15:52] lewismc commented on #23
Thiis issue has been addressed within issue #9

[2016-11-02 15:52] #23 closed

[2016-11-02 15:53] lewismc commented on #7
This issue is addressed right? @jameshiebert

[2016-11-03 04:34] jameshiebert commented on #7
Indeed it is.

[2016-11-03 04:34] #7 closed

[2016-11-03 04:38] lewismc commented on #16
BTW, it looks like the builds are working just fine on RTFD however it also looks like the project has not been published... or something else
https://readthedocs.org/projects/pydap/builds/4580394/

[2016-11-03 04:49] jameshiebert commented on #16
"Latest" in RTD points to master, so that will all get resolved when I merge `develop` with `master`. But if you try to read the version "develop": http://pydap.readthedocs.io/en/develop/ everything's all good.

[2016-11-03 05:26] robertodealmeida commented on #16
I still have pydap.org, should I point it to http://pydap.readthedocs.io/en/latest/?

[2016-11-03 05:29] shoyer commented on #16
Makes sense to me. See http://read-the-docs.readthedocs.io/en/latest/alternate_domains.html#cname-support

[2016-11-03 17:06] #8 closed

[2016-11-03 17:34] jameshiebert commented on #16
That'd be great @robertodealmeida. Thanks! With that and the newly built latest on RTFD, I think we should be good to go here, so I'm closing this issue. Thanks for the collaborative effort!

[2016-11-03 17:34] #16 closed

[2016-11-03 20:54] robertodealmeida commented on #16
Cool, www.pydap.org now points to readthedocs.io, and pydap.org redirects to www.pydap.org. Some still needs to do the second step, "Add a Domain object in the Project Admin > Domains page for your project."

[2016-11-03 22:08] shoyer commented on #16
Seems to be working now at www.pydap.org

[2016-11-04 18:28] kedziorm opened #25 "Documentation does not provide information how to display raw data"
When I copy link (sample_query) contained within my gist:
[https://gist.github.com/kedziorm/619141108839f154a8ded009d9cb30e8](https://gist.github.com/kedziorm/619141108839f154a8ded009d9cb30e8)
and paste it to the web-browser, I see raw data.

However, I have no idea how to get exactly the same data in ASCII format using pydap.

![python dataset retrieved from pydap - query for existing data](https

[2016-11-04 19:09] jameshiebert commented on #25
I would look [here](http://www.pydap.org/en/latest/client.html#accessing-sequential-data) in the docs for a bit of an explanation. In general, you need to iterate over the data to access individual elements. The proxy types are lazy in that they only download the data values when you iterate over them. In your case this might be something like:

[code]

[2016-11-05 19:42] kedziorm commented on #25
Thank you for help. However, when typing:

`dataset.result.result[:]`

or

[code]

I receive an error:

![client error pydap](https://cloud.githubusercontent.com/assets/4739662/20033060/5257e3bc-a398-11e6-9a06-0273ab8f05c9.png)

[2016-11-10 09:20] kedziorm commented on #25
@jameshiebert I amended my code: [https://gist.github.com/kedziorm/619141108839f154a8ded009d9cb30e8](https://gist.github.com/kedziorm/619141108839f154a8ded009d9cb30e8)
but I still receive error message.

Is it possible that server returns data which does not fit requirements described in protocol documentation?

[code]

![servererrorpydap](https://cloud.githubusercontent.com/assets/4739662/2017102

[2016-11-10 17:26] jameshiebert commented on #25
Hmm that's... interesting. The error *is* coming back from the server side, but PyDAP does do some construction/modification of the constraint expression before it sends the request to the server. So it's *possible* that it's mangling it incorrectly. I'll flag this as a possible bug, but it would require a little more investigation to confirm.

[2016-11-20 20:31] ghisvail commented on #19
Any update on the timeline for the next release?

[2016-11-22 01:40] lewismc opened #27 "Release Pydap 3.2.0"
Hi @jameshiebert are you open to releasing Pydap 3.2.0? I see no blockers and it would be ideal to make a Python 2.7 + 3.X-compatible artifact available.

[2016-11-23 05:25] lewismc commented on #18
@jameshiebert this issue can be closed off.

[2016-11-23 06:03] #18 closed

[2016-11-23 19:02] jameshiebert commented on #27
I was hoping to get your NASA/URS code merged into master before the release, but that has turned out to be "non-trivial". I'm happy to move forward on a 3.2 release w/o it, if you all would be fine with that. But I wanted to ensure that all contributions were given proper consideration. What's your preference?

[2016-11-23 19:06] lewismc commented on #27
I'll have a crack at completing #26 today and also get some additional test coverage in there. Hopefully the URLs provided by @jgallagher59701 can be used and we will be good to go.

[2016-12-01 21:05] jameshiebert commented on #20
Addressed by #28

[2016-12-01 21:05] #20 closed

[2016-12-01 22:40] jameshiebert commented on #27
I have a release build ready to go for 3.2.0, but don't have PyPI credentials. @shoyer could you add me as a package index maintainer for the Pydap packages (along with pydap.handlers.* and pydap.responses.*)?

[2016-12-01 23:53] shoyer commented on #27
Unfortunately I can't edit maintainers for pydap because I'm not an "Owner" on pypi. @robertodealmeida can you help?

[2016-12-02 05:58] lewismc commented on #27
A release would be great right now.
Work that has gone is recently has been great.

On Thu, Dec 1, 2016 at 3:53 PM, Stephan Hoyer <notifications@github.com>
wrote:

--

*Lewis*
Dr. Lewis J. McGibbney Ph.D, B.Sc
Director, MCMA Associates
Phone: +1(626)498-3090
Skype: lewis.john.mcgibbney
Email: lewis.mcgibbney@gmail.com

[2016-12-02 07:52] robertodealmeida commented on #27
Sure! James, what's your pypi username?

Sent from my iPhone

[2016-12-02 08:10] jameshiebert commented on #27
jamesmhiebert

[2016-12-07 21:02] laliberte commented on #25
@kedziorm, since you're only using the ``pydap`` client, you could try using an older ``pydap`` version. I have written a simple patched up package based on ``pydap 3.1.1`` that can handle NASA URS authentication in the very same way that ``pydap 3.2.0`` does. You can find this package at [netcdf_4_pydap](github/laliberte/netcdf4_pydap). It offers a simple interface that is similar to ``netcdf4-py

[2016-12-09 22:36] shoyer opened #33 "Launch a local pydap server from Python"
For testing pydap read support in xarray, it would be nice to able to launch a pydap server locally as part of the test suite, avoiding the need to contact an external test server. For example:
[code]

Is there a straightforward way to do this with the current version of pydap?

[2016-12-09 23:49] jameshiebert commented on #33
I think that most of our tests work one level down at the WSGI level and skip HTTP altogether. This is quite a bit faster and then avoids any problems with the network stack that you don't really want your tests to rely on..

We do this by passing a WSGI app object into WebOb.request.blank (IIRC). Would something like that work for you?

[2016-12-10 13:04] shoyer commented on #33
Sure, though I would prefer to be able to use a utility function from pydap rather than constructing such objects myself. WSGI and WebOb feel like implementation details that I would rather not leak into the xarray test suite.

[2016-12-12 01:14] laliberte commented on #33
@shoyer, @jameshiebert
I have actually been working on this at the end of last week. It's in [merging/handlers.csv](github/laliberte/pydap/merging/handlers.csv).

To get this branch together, I wanted to clean-up the CSV handler so that I could have a real sever test. In that branch, the test server is in the file ``test_devel_server.py``.

I've also been working on a ``netcdf4`` [merging/handlers

[2016-12-12 15:09] shoyer opened #36 "Switch pydap.handlers.netcdf to use scipy instead of pupynere"
Scipy's netcdf3 file handling is a maintained fork of pupynere, so (for example) it also runs on Python 3.

Any concerns?

[2016-12-12 15:35] laliberte commented on #36
That's what I did in #35. I assumed this was the only way to go since ``pupynere`` does not seem to be actively maintained and is not even on github.

[2016-12-12 16:56] shoyer commented on #36
Oh, very nice, I missed that.

[2016-12-12 17:40] shoyer commented on #33
Indeed, an xarray based handler seems like a natural addition. I can see xarray (especially with dask) being a nice way to setup a pydap server, e.g., as a more flexible substitute for [pydap.handlers.nca](https://github.com/pydap/pydap.handlers.nca). This isn't something I would use personally (I would be more likely to just launch a remote dask-distributed server), but you should build it if you

[2016-12-13 23:45] jameshiebert commented on #33
Ah yes, that's a good point. I can see your motivation there.

Indeed. I believe that there are some tests in Pydap that *do* use a local server and, you're right, if anything goes wrong in the test from the client side, you're basically unable to debug it from the server side.

Hrm, can you explain that a bit more? What kind of bugs in Pydap have you been seeing? Do you mind posting issues about

[2016-12-13 23:55] jameshiebert commented on #36
Yeah, that's a good idea. Should this be filed against https://github.com/pydap.pydap.handlers.netcdf ?

[2016-12-13 23:55] laliberte commented on #33
I can only guess but the way I understood this question was that @shoyer meant that if one was to implement an ``xarray`` handler and essentially tests ``xarray`` onto that ``pydap-xarray`` handler then one would fairly easily uncover edge cases bugs, in both the OPeNDAP integration within ``xarray`` and within the ``DAPHandler`` of ``pydap``. It would be some work but it seems like it could great

[2016-12-13 23:57] laliberte commented on #36
Yes, most likely. But in fact, in PR #35 I kind of suggest that maybe we should merge [handlers.netcdf](https://github.com/pydap.pydap.handlers.netcdf) into ``pydap``.

[2016-12-14 00:14] shoyer commented on #33
@jameshiebert Yes, I didn't mean that I know about bugs in pydap -- just that in my experience there are lots of weird edge cases (indexing operations, different dtypes, scalar or size 0 arrays, bytes vs unicode, fill values, Python 2 vs 3, ...) that are easy to miss. Maybe pydap is better tested than projects like netcdf4-python but certainly our test suite turned up plenty of issues there.

[2016-12-14 01:00] jameshiebert commented on #33
Ahh, sure that makes sense. Yes, if Rob had not written such a high coverage test suite for Pydap, I would have had a *really* rough time doing the 2 to 3 conversion.

[2016-12-14 01:50] shoyer opened #39 "Consider merging pydap.handlers into pydap proper"
I see that @laliberte has already started working on this, at least for the CSV and NetCDF handlers.

I think it could make a lot of sense to bundle these projects into the main pydap repo and pypi distribution. This would ensure that the handlers distributed with pydap remain up to date.

Doing this sort of thing with optional dependencies is a pretty standard practice for Python project packagin

[2016-12-14 14:41] laliberte commented on #33
@shoyer
I've revisited #34 and it turns out that one can drop any delay after the sever has been set-up, resulting in just a small overhead to testing through the ``simple_server``. So while it should probably not be used for ``pydap`` tests, it could certainly be used for a subset of ``xarray``-``pydap`` tests.

[2016-12-19 21:09] #27 closed

[2016-12-21 06:36] taeold opened #41 "Unexpected 'flattening' of the array when slicing on BaseProxy"
Hello,

I notice the following (unexpected) behavior when using pydap to accessing n-dimensional variable:

[code]

From my best attempt to read over the pydap code, I find [this line](
https://github.com/pydap/pydap/blob/master/src/pydap/handlers/dap.py#L155) suspicious:

[code]

Namely, I think it's missing a `.reshape(shape)` call at the end.

[code]

Is what I'm suggesting here reasonable?

Di

[2016-12-21 17:10] MBARIMike opened #42 "model.BaseType required name argument"
I just upgraded from Pydap 3.1.1 to Pydap 3.2 from PyPI and my unit tests failed with:

[code]

Version 3.1.1 provides a default value for name:

[code]

Is there any harm in providing this same default value version 3.2 ([this line](https://github.com/pydap/pydap/blob/a7ca9c58f4d628fb1fc232a3c5653e6f2ab9378e/src/pydap/model.py#L199)) so that we maintain backward compatibility?

[2016-12-21 17:27] MBARIMike opened #43 "model.GridType differences from 3.1.1"
GridType in Version 3.1.1 has __len__() method and other attributes:

    # These attributes all come from the array object.
    def __len__(self): return len(self.array)
    @property
    def type(self): return self.array.type
    def _get_shape(self): return self.array.shape
    def _set_shape(self, shape): self.array.shape = shape
    shape = property(_get_shape, _set_shape)

Should they be add

[2016-12-21 17:57] MBARIMike commented on #43
Upon further inspection I see that the GridType returned is different. In Version 3.1.1 I get a dictionary:

[code]

With Version 3.2.0 I get something different:

[code]

Perhaps this is an improvement and I should change my code?

[2016-12-21 19:42] taeold commented on #43
This explains some of the compatibility issue I saw in pydata/xarray#1174 - namely, datatype returned by `pydap.client` in version 3.2 is dictionary-_like_ but not quite so, missing couple of functions like `__len__` and `iteritems/items`.

Does it make sense to implement these functions? From my understanding of the code, `GridType`/`StructureType` appeared well equipped to implement those functi

[2016-12-21 20:26] MBARIMike commented on #43
It wasn't too hard for me to [make a work-around](https://github.com/stoqs/stoqs/pull/452/commits/44f487e5a5ba35e948dc46c615992e087620a533) in my code, but it'd be nice to have the same behavior that we have 3.1.1.

[2016-12-22 16:38] lewismc commented on #27
Brilliant. CC @jgallagher59701 : )

[2016-12-28 11:02] ghisvail opened #44 "Deprecation warnings regarding future array conversion behaviour"
After checking out `pydap` on a fresh virtualenv, running the testsuite produces a bunch of `VisibleDeprecationWarning`:
[code]

[2016-12-28 11:07] ghisvail opened #45 "Namespace testcase fails to pass"
In a fresh checkout of `pydap` in a clean venv, the `namespace` testcase does not pass:
[code]
Indeed, if I manually run:
[code]
I am wondering whether this test case is actually useful, beyond increasing the code coverage?

[2017-01-02 23:05] jameshiebert commented on #45
I cannot reproduces this issue.

[code]

Is it possible that you haven't dev-installed the package before running the tests? Take a look at what we do in the TravisCI config before running the tests. E.g.:

[code]

[2017-01-02 23:07] jameshiebert commented on #44
Yes, agreed that we should get this taken care of before the next release. I'll assign it to the next release milestone and hopefully someone can take it on before then.

[2017-01-03 12:19] dirkdevriendt opened #46 ""Running a server" documentation outdated"
Thanks for the hard work on this project!

This problem may be due to my lack of experience with Python Paste (and the fact the documentation on http://pythonpaste.org/ has been down for two months now), but we are trying to setup a pydap docker instance and have trouble getting the instructions to work for us.

[code]
Is there a way to get some guidance on what is needed to get paste to work?

Ev

[2017-01-03 14:27] laliberte commented on #44
@jameshiebert This has been fixed in #32. It was part of the code clean-up.

[2017-01-03 14:54] ghisvail commented on #45
Did you use a *fresh* virtualenv?

Steps:
[code]
Output:
[code]

[2017-01-03 16:38] jameshiebert commented on #46
Hi @dirkdevriendt! Thanks for the heads up on this. You're right; the docs are probably out of date in this section... I know that I personally haven't tried to use Paster for this for years (my organization runs Pydap using Flask, gunicorn and supervisord.

We'll leave this issue open until someone gets to writing up the docs. In the mean time, I can advise that you *can* use ``pydap.wsgi.app:Dap

[2017-01-03 16:39] laliberte commented on #45
I was able to reproduce on [travis-ci](https://travis-ci.org/laliberte/pydap/jobs/188582962).

[2017-01-03 16:56] jameshiebert commented on #44
Ah noted. We can still keep this open until #32 gets merged up.

[2017-01-03 16:59] laliberte commented on #45
I've tried a few things but can't seem to make it work. Should we simply remove this [line](https://github.com/pydap/pydap/blob/master/src/pydap/tests/test_pydap.py#L19-L20)? It does not seem to be testing much after all...

[2017-01-03 17:00] laliberte commented on #44
I think you should!

[2017-01-03 18:15] #44 closed

[2017-01-03 19:31] #41 closed

[2017-01-03 19:35] jameshiebert commented on #45
Hrm, OK I'm seeing that now. So I agree with you guys that it doesn't add that much value, but it bugs me because it *should* work. Any ideas why it doesn't?

[2017-01-03 19:38] laliberte commented on #45
Unfortunately, no. But I agree that it should work. Basic googling brought up nothing. Let's leave it open a bit longer and we might stumble onto something...

[2017-01-03 20:02] jameshiebert commented on #45
OK, I've investigated a bit and I think the difference here is which method one uses to create a virtual environment. See [here](https://docs.python.org/3/library/venv.html#creating-virtual-environments) and [here](https://packaging.python.org/installing/#creating-virtual-environments) for reference. But it seems that using the old `virtualenv` script, that test will fail, while using the newer ``

[2017-01-03 20:02] #45 closed

[2017-01-04 13:40] dirkdevriendt commented on #46
Excellent info!
I have created a docker image, built with nginx + uWSGI + Flask (based on https://hub.docker.com/r/tiangolo/uwsgi-nginx-flask/)

We'll be testing a bit and if it works properly, I can send you the resulting setup so you can create a docker repo from it if you want.

[2017-01-04 18:16] dirkdevriendt commented on #46
Seems to work just fine (note: we're pulling the netcdf handler from github since the pypi version is not up-to-date)

I'll add a stripped down setup here so you can see what it looks like, but if you're interested you probable want to either integrate the relevant files in the pydap repo or create a dedicated docker repo. I can help set it up when you decide if/how you want to proceed.

./README.

[2017-01-04 19:25] jameshiebert commented on #46
Cool, thanks for putting that together! I think that it would probably be best to (as the title of this issue indicates) update the documentation with the information, and not necessarily integrate it directly into the main repo. I would see it as "guidance on how to use PyDAP in the real world" and not necessarily as executable code that will 100% be up-to-date at all times (especially given the

[2017-01-04 20:16] dirkdevriendt commented on #46
I have no intention to change your mind or to push more work onto the pydap volunteers, but putting this in documentation seems counterproductive since it makes the setup (appear) harder, which is not what docker is about :-)
The thing is that with the code in a repo + an automated build on the docker hub, the quickstart + server page can be replaced with:
[code]
If you prefer to not add it under

[2017-01-04 21:57] jameshiebert commented on #46
Yeah, that does make sense. I'll give it some thought and others are free to chime in to the discussion :)

[2017-01-06 19:07] ghisvail commented on #45
@jameshiebert I can reproduce the problem when using `python3 -m venv` on Debian Stretch (Python 3.5.2). This issue is still alive I am afraid.

[2017-01-07 10:43] kedziorm opened #51 "pydap.util module is not installed by default"
It looks like there's no (??) way to install util module using Linux packages nor pip install tool.
I described this issue at Stack Overflow: [http://stackoverflow.com/questions/41520007/how-can-i-install-python-pydap-utils-module-pydap-util](http://stackoverflow.com/questions/41520007/how-can-i-install-python-pydap-utils-module-pydap-util)

[2017-01-12 01:18] marty-sullivan commented on #46
My two cents, it would be better to have something in the docs that actually *works* which apparently the paste script no longer does ;)

[2017-01-12 11:40] ghisvail opened #52 "Use of deprecated gunicorn command"
On running the `pydap` application, the following message is logged:
[code]

[2017-01-12 11:41] ghisvail opened #53 "Missing extra requires on PasteDeploy"
Even with the all list of dependencies installed, the `pydap` command cannot be run without doing a `pip install PasteDeploy`. Perhaps it would be worth adding it to the list of extra requires for the cli.

[2017-01-12 11:43] ghisvail commented on #51
...is a really, really, really bad idea. Do not mess up with your system Python installation. Use a virtual environment or use pip in "user mode", but never `sudo pip install` anything unless your really know what you are doing.

...will install the old pydap v2.x which used the `dep` namespace. Again, probably not what you want.

Why should it be under `/usr/local`? You said yourself you used the

[2017-01-12 11:50] ghisvail opened #54 "Tests cannot be run standalone"
Despite the fact that `pydap.tests` is provided in the PyPI tarball, the test suite cannot be run for the following reasons:

- Missing data: *.das, *.dds, *.dods. These should be added to the `package_data` parameter of the setup object in `setup.py`.

- Reliance on `Pydap.egg-info`. This prevents the possibility of running the tests in a standalone way by doing:
[code]

This is particularly desi

[2017-01-12 16:16] kedziorm commented on #51
@ghisvail Thank you for your help, but I don't understand your comments.
I don't want to use multiple versions of Python packages, I would like to use the most typical, stable releases of Python packages in whole system, distributed with Ubuntu. Why should I create virtual env in such situation?

Regardless of that, as I can see I have Pydap in version 3.2 and the same version installs when I crea

[2017-01-12 16:32] ghisvail commented on #51
Because running `sudo pip install foo` may bring more dependencies than `foo`, and then silently overwrite the system installed ones because you gave `pip` sudo powers. Your system Python packages are here to serve other packaged applications, *not* to be used for testing or development purposes.

Disclaimer: I am myself a Debian maintainer for some Python packages.

To avoid inadvertent breakage

[2017-01-12 18:51] kedziorm commented on #51
I guess you're referring to comment in setup.py. But which setup.py? Setup.py from this repository?

[2017-01-12 18:56] ghisvail commented on #51
Yes.

[2017-01-12 20:39] jameshiebert commented on #51
I answered [your question on SE](http://stackoverflow.com/questions/41520007/how-can-i-install-python-pydap-util-module-pydap-util/41622480#41622480) already, but the short answer is that you basically don't need ``pydap.util`` anymore (also it doesn't exist), because NASA/URS authentication is now (as of version 3.2) a [supported feature](https://github.com/pydap/pydap/issues/19) and its usage is

[2017-01-12 20:39] #51 closed

[2017-01-12 22:19] jameshiebert commented on #54
Great to know... thanks for reporting this!

Good catch; that should be easy to fix.

Pardon my ignorance, but what specifically relies on `Pydap.egg-info`?

[2017-01-13 17:29] ghisvail commented on #54
Dunno, if I run:
[code]
I get a bunch of:
[code]
However if I do the following:
[code]
Then these errors are gone, which leaves me to the core of what is missing:
[code]

[2017-01-13 18:32] tomkralidis commented on #46
+1 agree.  I just tried installing pydap from scratch via the [Quickstart](http://pydap.readthedocs.io/en/latest/#quickstart) and run into this error as well.

[2017-01-13 18:36] marty-sullivan commented on #46
I suppose it might even make more sense to point people to Hyrax instead of Pydap for new server deployments.

[2017-01-17 09:44] kedziorm commented on #51
@jameshiebert After installation of additional packages ('numpy singledispatch Webob Jinja2 docopt gunicorn six mechanicalsoup') I'm able to import 'open_url' and 'setup_session', but it seems that I received and error when executing line with setup_session (probably, because I'm behind the proxy (ConnectionError: HTTPSConnectionPool(host='urs.earthdata.nasa.gov', port=443)).

[2017-01-17 18:38] jameshiebert commented on #51
Hi @kedziorm, if you're behind an HTTP(S) proxy, I don't think that I (or Pydap) can help you with that. You'll have to figure that out on your own or with your network admin. The Pydap client necessarily assumes that it has a functional network connection to work with :)

[2017-01-17 20:44] kedziorm commented on #51
Hi @jameshiebert,

okay, it's no problem. Fortunately I have other computer without proxy...but I have different issue.
When I execute (first lines just to read my credentials from _~/.netrc_, rest are from your example:

[code]
I'm receiving:

I have no problem with retrieving those data by copy and paste link to browser and provide exactly the same credentials. Could you suggest anything, please

[2017-01-18 23:15] jameshiebert commented on #51
From the "<!DOCTYPE" prefix, it looks like the server response is some document other than an OpenDAP DDS response. Any chance that you can drop into a pdb debugger there and print out self.buffer? That would tell us what response you're getting and might give us some clues...

[2017-01-20 17:31] laliberte commented on #54
@ghisvail, just a quick note:
The last tests fail because you have not setup your credential informations. Instead, run:
[code]
To disable the auth tests.

[2017-01-27 17:00] laliberte opened #58 "URS authentication tests are currently not working"
The current implementation of the URS authentication scheme fails in the provided tests. It appears that redirects are not followed properly.

In PR #57, a fix is proposed.

[2017-02-02 17:05] kedziorm commented on #25
@laliberte I'm receiving 404 error when trying to open mentioned by you repository.
@jameshiebert I think that my sample query was incorrect (it was http, not https), so I changed it.
However I'm still receiving an error: https://gist.github.com/kedziorm/619141108839f154a8ded009d9cb30e8/revisions

[2017-02-03 16:42] laliberte commented on #25
@kedziorm,

I'll have to spend some time to investigate this problem. Notice that I have made a recent PR (#57)  that solves some issues with URS authentication. I guess you could use the associated branch and check whether that solves your problem in the meantime.

[2017-02-03 22:24] laliberte commented on #25
@kedziorm

I've gone through your script and I was to query the dataset you want using PR #57:
[code]

It turns out the ``check_url`` option is very important for URS authentication. I've updated the docs in #57 to reflect this requirement.

[2017-02-08 15:20] cwhanse opened #62 "Client.rst refers to pydap.util"
Looks like pydap.util is no longer with us.  The documentation for using proxies refers to pydap.util, and could use an update.  Text from client.rst below.

Configuring a proxy
[code]

[2017-02-14 19:41] bucricket opened #63 "can't access 3d data from MERRA2 openDAP server"
Hi All,

I have tried to work with MERRA2 openDap team with this problem but they say the issue is not on their end.  Basically I can access 2d data but not 3d data. Please see the code below.

from pydap.client import open_url
from pydap.cas.urs import setup_session
session = setup_session(earthLoginUser, earthLoginPass)

fullUrl4  = "https://goldsmr4.gesdisc.eosdis.nasa.gov/opendap/MERRA2/M2I1NX

[2017-02-15 15:41] laliberte commented on #63
I've conducted some tests and PR #57 appears to be fixing this issue on my end. @jameshiebert, any chance PR #57 could be merged?

[2017-02-16 16:48] bucricket commented on #63
Hi @jameshiebert if @laliberte fixes the problem can you merge it?  I'm really depending on pydap to get MERRA2 data.  I can't find a work around right now.

Thanks!

[2017-02-16 16:51] laliberte commented on #63
@bucricket, you can always pull PR #57 and install this patched up version of pydap and check if it works for you.

[2017-02-16 16:57] bucricket commented on #63
yeah.... kind of new with installing with git.  I'm trying to build a program with conda build.  if you are familiar with conda build do you know how I could incorporate your fix?

I really appreciate your help!

[2017-02-16 17:02] laliberte commented on #63
I think the best thing to do is to vendor ``pydap``. This way you have complete control on the distribution and you can apply your own fixes. One way is to fork and then include your fork as a submodule in git. It is a bit confusing at first but it will give you much more freedom in the future. You can always keep your fork up-to-date with new commits to the main ``pydap`` repo.

I am working on m

[2017-02-16 17:22] jameshiebert commented on #63
Hi guys. I'm just working through as many of the PRs as I can today. Thanks for your patiences and your active involvement. Are you both on the [Pydap e-mail list](https://groups.google.com/forum/#!forum/pydap)? I'd like to have a conversation about how we can re-work Pydap's development workflow. I'm really excited about all the interest that has been expressed this last year, and it would be nic

[2017-02-16 17:26] laliberte commented on #63
Yes, I will.

I am currently working on a big patch that incorporates all of my PRs plus some. In particular, it provides an alternative API that mimics the one from ``netCDF4-python``. I would recommend that this should be discussed on the mailing list.

[2017-02-16 19:20] jameshiebert commented on #25
We're safe to close this with #57 merged, right? Feel free to reopen if not.

[2017-02-16 19:20] #25 closed

[2017-02-16 19:21] jameshiebert commented on #63
I'll go ahead and close this with #57 merged. If it continues to be problematic, feel free to re-open.

[2017-02-16 19:21] #63 closed

[2017-02-16 20:25] #58 closed

[2017-02-16 20:53] bucricket commented on #63
Thanks for you help.  So if I fork the master now it will include your fix from #57 correct?

Thanks

[2017-02-16 21:07] laliberte commented on #63
It should and it should work. For URS urls, you should use the ``check_url`` option.

[2017-02-17 16:23] bucricket opened #65 "new release"
HI do you think you could have a new release?  Then perhaps the latest fixes could be built on conda-forge?

[2017-02-21 02:21] big-luo commented on #46
@jameshiebert I tried your code ,but I get error!!

`Error {
    code = -1;
    message = "Traceback (most recent call last):
  File "/usr/local/lib/python2.7/site-packages/pydap/handlers/lib.py", line 93, in __call__
    dataset = self.parse(projection, selection, buffer_size)
  File "/usr/local/lib/python2.7/site-packages/pydap/handlers/lib.py", line 120, in parse
    if self.dataset is None:
At

[2017-02-22 04:11] giumas opened #66 "Missing 'proxy' module"
While attempting to run [HDFCompass](https://github.com/HDFGroup/hdf-compass) with the last PyPI release (3.2.0) of `pydap`, I noticed that the `proxy` module is gone together with `ProxyArray` class. Can you confirm it? If yes, is `BaseType` class the 'natural' substitute of `ProxyArray`?

The `ProxyArray` was imported here: https://github.com/HDFGroup/hdf-compass/blob/develop/hdf_compass/opendap

[2017-02-22 17:58] jameshiebert commented on #66
It looks like @robertodealmeida replaced the ``proxy`` module during a refactoring in commits bc064513b7d6c173b9000df6985984164e168c57 and 92ed74bfef36940b39dd8900f161cb9f09b77184. It kind of looks like you can use [``BaseProxy``](https://github.com/pydap/pydap/blob/master/src/pydap/handlers/dap.py#L98) and [``SequenceProxy``](https://github.com/pydap/pydap/blob/master/src/pydap/handlers/dap.py#L2

[2017-02-23 01:28] giumas commented on #66
Thank you for the quick answer! However, from a first look, it seems that there are much more changes that just this class.

For instance, the `DatasetType` does not more indirectly inherit from `odict`. Thus, the app fails when it tries to call the missing `setdefault` method (`AttributeError: '<class 'pydap.model.DatasetType'>' object has no attribute 'setdefault'`).

[2017-02-26 14:52] ghisvail commented on #65
I second this request.

[2017-02-26 16:14] ghisvail commented on #65
Please consider merging #67 and #68 before finalizing the release, as they would significantly improve the package-ability of `Pydap` on Debian. Thanks.

[2017-02-26 16:35] ghisvail commented on #54
@laliberte This is what I get after fixing the missing data:
[code]

[2017-02-26 17:01] ghisvail commented on #54
It worked after cherry-picking the following commit d75a4a84ccccd60632607b7be88f0b139aa17c8b.

[2017-02-27 19:18] #54 closed

[2017-02-27 22:39] ghisvail opened #69 "Questionable value of declaring `pydap.tests` a namespace package"
Is there a particular reason to declare `pydap.tests` a namespace package? This prevents running the tests as installed from the package (via `python -m pytest --pyargs pydap.tests`), which is a desirable feature from a CI perspective for Linux distributions.

[2017-02-27 23:10] jameshiebert commented on #69
Personally, I think that we need to overall *all* of the PyDAP-related namespace packages (and generally get rid of the namespace packages since they're not really used or well supported anymore). There seems to be support (e.g. #34 #35 #39) for integrating all of the extraneous packages (pydap.handlers.csv, pydap.responses.netcdf, etc.) into the mainline distribution. But I think we all need to t

[2017-02-28 07:15] Omkar20895 opened #70 "pip3 install pydap.responses.netcdf gives error"
- The error is as follows :

Collecting pydap.responses.netcdf
  Downloading pydap.responses.netcdf-0.1.4.1.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-build-90qbdmot/pydap.responses.netcdf/setup.py", line 10, in <module>
        paver.tasks.main()
      File "/usr/local/lib

[2017-02-28 07:48] lewismc commented on #70
It would appear that the pydap.responses.netcdf package may need a bit of attention here. Does anyone know where the canonical source for it lives?
I've spotted both of the following
 * https://bitbucket.org/robertodealmeida/pydap/src/6feb1fc58d19/pydap.handlers.netcdf/?at=default
 * https://github.com/pacificclimate/pydap.responses.netcdf

The [package over at Pypi](https://pypi.python.org/pypi/p

[2017-02-28 07:49] lewismc commented on #70
Also @Omkar20895 it looks like the package on Pypi is built for Python 2.7 rather than 3.X. We may need to upgrade this...

[2017-02-28 09:50] ghisvail opened #71 "Missing manpages for command-line tools"
It is a recommended practice in the Linux community to provide corresponding manpages to publicly installed command-line executables. `Pydap` installs the `dods` and `pydap` commands, but those lack respective manpages currently.

Since `sphinx` is already setup to build the package documentation, it would be quite straightforward to extend to also generate the manpages from ReST files.

[2017-02-28 10:24] ghisvail opened #72 "FutureWarning regarding use of structured arrays"
While testing `pydap-3.2.0` on Debian Stretch (Numpy 1.12.x), some tests throw a `FutureWarning` which you guys might want to check out. Here is the relevant part of the nose test log:
[code]

[2017-03-01 11:56] Sibada opened #73 "Confuse about the parameters of the function `setup_session()` when login ESGF"
The function `setup_session()` has three parameters: `uri`, `username` and `password`, but in the document it shows `>>> session = setup_session(openid, password)`, and when I get the data in this way the `open_url()` throws 401. Dose it mean that the `uri` is openid or `username` is openid?

[2017-03-01 12:54] #73 closed

[2017-03-01 19:09] Omkar20895 commented on #70
@lewismc The first source you have mentioned is for pydap.handlers and the second one is for pydap.responses, we are specifically focusing on pydap.responses here.

And yes according to the version [here](https://pypi.python.org/pypi/pydap.responses.netcdf/0.1.4.1) the package is for python2.7 and it needs to be upgraded.

[2017-03-01 20:27] lewismc commented on #70
@Omkar20895 see https://github.com/pacificclimate/pydap.responses.netcdf/issues/3

[2017-03-02 13:36] kedziorm commented on #51
@jameshiebert
Yes, you were correct. It was a HTML page that informs about 301

[code]

 As a result of changing query, now I'm receiving different error:
ValueError: need more than 1 value to unpack

[2017-03-03 17:59] rabernat opened #74 "xarray handler"
[xarray](http://xarray.pydata.org/en/stable/) is basically an in-memory representation of netCDF-like data structures. It would be amazing to have a pydap handler for xarray. That way we could launch an opendap server from within python (possibly related to #33) and feed it an xarray dataset. Such services could be chained together to form streaming data pipelines without ever touching a hard disk

[2017-03-05 17:13] laliberte commented on #74
@rabernat, I'm not sure it is related to #33. In #33, the goal was mostly for testing purposes and my own experience tells that starting a simple server from within python has much more pitfalls than advantages.
I however think that implementing an ``xarray`` handler could make a lot of sense because ``xarray`` can be used as a compatibility layer to many file types. By implementing an ``xarray``

[2017-03-05 17:17] laliberte commented on #72
PR #55 made sure that views are explicitly converted to copies. There was however no clean ways I could find to suppress these warning messages.

[2017-03-07 10:05] mortenalver opened #75 "ValueError: dictionary update sequence element #0 has length 1; 2 is required"
Hi,

I'm having problems with Pydap 3.2.0 installed on a 64 bit Linux system (however, have also seen the problem on Windows 10). The URL I try to open works fine under Pydap 3.1.1, but under 3.2.0 I get an error message. I can reproduce the error as shown below:
[code]

[2017-03-07 16:53] ghisvail commented on #65
@jameshiebert Now that #68 is merged and #67 is ready to be, would you consider making a point or micro-release so I can finalize the Debian packaging? Thanks.

[2017-03-08 18:10] phrrngtn commented on #75
I got a 404 error when I tried to run this just now.

[2017-03-08 18:23] mortenalver commented on #75
Hi,

Probably due to daily file name changes on the server. To get a working
link you can update the date in the link to today's. Not able to test at
the moment.

Morten

8. mar. 2017 7.10 p.m. skrev "Paul Harrington" <notifications@github.com>:

[2017-03-08 18:52] mortenalver commented on #75
This URL should work for the foreseeable future (the particular link I used was badly chosen, but this one should remain):

http://thredds.met.no/thredds/dodsC/fou-hi/norkyst800m-1h/NorKyst-800m_ZDEPTHS_his.an.2017030800.nc

[2017-03-08 19:37] phrrngtn commented on #75
Thanks, that URL worked for me.  I took a quick look in the debugger and it looks like the time key is absent from zeta but I don't know if this is a problem with the response or the code.

ipdb> p nested.pop(k)
*** KeyError: KeyError('time',)
ipdb> var.id
'zeta.time'

[2017-03-10 21:23] hyoklee opened #76 "How can I read array of Structures?"
It seems that PyDAP doesn't provide a way to access data from array of structures.
``
Dataset {
    Structure {
        Float64 Time;
        Float32 Latitude;
        Float32 Longitude;
      }  Point[13356];
}
``

Here's a real test case:

https://eosdap.hdfgroup.org:8989/opendap/hyrax/data/NASAFILES/hdf5/AMSR_U2_L2_Land_B01_201207232336_D.he5.html

Shape for structure returns an error. I tried

[2017-03-21 05:14] jenfly opened #78 "Reading MERRA-2 data"
I'm having the same issue as noted in #63, trying to read MERRA-2 data. I have updated my Pydap to the latest master version from Github, using `pip install -e git+https://github.com/pydap/pydap.git#egg=pydap` (I think this is the correct way to do it, but please let me know if I've gone astray - I haven't installed packages other than the official release versions before, so I searched around som

[2017-03-21 22:24] jenfly commented on #43
I'd love to have this compatibility as well!  I'm new to Pydap - I've been using Xarray and now I'm trying to get it to work with `engine=pydap` in order to handle NASA's new authentication procedures.  But the `engine=pydap` option doesn't work in `xarray.open_dataset()` anymore because of these changes to `GridType`.  I can try to make my own versions with workarounds, but going forward it would

[2017-03-24 07:12] shoyer commented on #14
Maybe @laliberte would be a good addition to the pydap team?

[2017-03-24 14:32] laliberte commented on #78
@jenfly
Simply replace the line
[code]
by
[code]
This is explained in the updated documentation but unfortunately the readthedocs version was updated after the last commit so there was no way for you to find out. @jameshiebert any chance the online documentation could be updated?

The reason is that the NASA URS authentication only gives you the right cookies when you actually query some data..

[2017-03-24 15:27] laliberte commented on #76
Unfortunately, after some tests, I must conclude that this type of dataset is not currently supported by ``pydap``. It will require substantial code modification to work so I think it is unlikely to become available in the near future. I'd say that this issue should remain opened until a suitable code modification is made available.

[2017-03-24 16:42] laliberte commented on #14
I could definitely spend some time looking at client-related issues and PRs.

[2017-03-24 18:04] laliberte commented on #75
@mortenalver if you want you can fork PR #75 and check whether it works for your dataset. On my side, it worked flawlessly.

[2017-03-27 02:11] jenfly commented on #78
Perfect! Thanks so much, @laliberte.

[2017-03-27 02:11] #78 closed

[2017-03-28 07:46] mortenalver commented on #75
Great, thanks! I'll see if I can find the time to test it (currently running my system with 3.1.1, so it's not a top priority right now)!

[2017-03-28 22:36] #75 closed

[2017-03-28 23:06] jameshiebert commented on #65
Hi all! Yes, I *think* that I have all of the "easy" PRs merged such that I would feel good about doing a point release (3.2.1). I'll start working on that...

[2017-03-28 23:11] ghisvail commented on #65
Awesome, thanks!

[2017-03-28 23:22] bucricket commented on #65
Excellent!

Mitch

[2017-03-29 05:40] jameshiebert commented on #65
The new point release (3.2.1) [is up](https://pypi.python.org/pypi/Pydap/3.2.1). Thanks [to everyone](https://github.com/pydap/pydap/blob/master/CONTRIBUTORS.md) who contributed to make it happen!

[2017-03-29 05:40] #65 closed

[2017-03-29 17:58] laliberte commented on #72
It turns out that in the [newest builds](https://travis-ci.org/pydap/pydap/builds/216181315) this warning is suppressed. @jameshiebert maybe this issue could be closed?

[2017-03-29 18:32] laliberte commented on #72
For the reason mentioned above I will close this issue.

[2017-03-29 18:32] #72 closed

[2017-03-30 15:39] laliberte opened #82 "Switch tests to pytest?"
Should we tweak the tests to make them compatible with ``pytest`` and use ``py.test`` instead of ``nosetests`` on Travis?

[2017-03-30 16:02] jameshiebert commented on #82
I really like ``pytest`` (in particular, parametrized test functions). I'd definitely support that. How much do you think it would take to make that happen?

[2017-03-30 16:04] laliberte commented on #82
If we go for minimal tweaks, it should be ready in an hour. Then maybe we could slowly modernize the tests to eventually scrub nose out...

[2017-03-30 16:25] #6 closed

[2017-03-30 17:12] #82 closed

[2017-03-30 20:18] laliberte commented on #43
I'm going to close this one following PR #48. If it turns out to be insufficient, I'll reopen.

[2017-03-30 20:18] #43 closed

[2017-03-30 21:36] laliberte opened #84 "Cannot remove scipy from testing yet"
``gsw`` has not been updated on PYPI in a [long time](https://github.com/TEOS-10/python-gsw/issues/38) This means that we have to keep ``scipy`` on travis for the time being.

[2017-03-30 21:52] jameshiebert commented on #78
Re: readthedocs: readthedocs automatically builds the docs from GitHub every time we tag a release (not on every commit, I *think), so one *should* be able to read the [updated docs](http://pydap.readthedocs.io/en/3.2.1/) now that a release has been tagged.

[2017-03-30 21:54] laliberte commented on #78
Yes, it is working! Good to know that a release has to be tagged :)

[2017-04-04 20:26] laliberte commented on #5
It is unsigned ([ref.](https://cdn.earthdata.nasa.gov/conduit/upload/512/ESE-RFC-004v1.1.pdf) page 8 Table 2). This should be ensured throughout the code.

[2017-04-05 13:18] #84 closed

[2017-04-13 01:27] laliberte commented on #3
I'm going to close this.

[2017-04-13 01:27] #3 closed

[2017-04-13 17:53] #42 closed

[2017-04-15 16:19] laliberte opened #96 "Drop support for 3.3"
I recommend we drop support for python 3.3. Most major projects are doing the same and security patches will stop being issued by September 2017.

[2017-04-15 18:42] matthew-campbell commented on #96
Would you please reference your claim?

[2017-04-15 19:31] laliberte commented on #96
This was referenced in [PEP 0398]https://www.python.org/dev/peps/pep-0398/#lifespan). For another project who seemed to have dropped their python 3.3 support, you have [``xarray``](https://pypi.python.org/pypi/xarray/). In that context, do you know of any reason why python 3.3 support should be kept within ``pydap``?

[2017-04-17 20:17] shoyer commented on #96
NumPy also no longer supports Python 3.3: https://pypi.python.org/pypi/numpy/

[2017-04-17 21:30] laliberte commented on #96
Ok, I did not even notice. That was obvious canary in the coal mine. @shoyer I assume that makes you +1 ? @jameshiebert any objections?

[2017-04-17 21:49] shoyer commented on #96
Yes, +1 from me

[2017-04-19 16:07] laliberte commented on #66
@giumas I've looked at your code and my opinion is that ``pydap`` proxy objects should not be assumed to be part of the public API. The obvious solution would be to rely only on the ``DatasetType`` object output from the ``open_url()`` function. If the function exits successfully, this object should contain all of the OPeNDAP dataset attributes and properly instantiated data proxy objects.

Moreov

[2017-04-19 23:15] jameshiebert commented on #96
+1

[2017-04-19 23:27] #96 closed

[2017-04-19 23:33] laliberte commented on #76
I have been having a look at this issue over the last few days and made somewhat little headway. This is made difficult by the fact that the current data model always grabs data from the simplest datatype in the hierarchy. However, this example server show clearly that this is not how the DAP2 standard should work: one cannot fetch subcomponents of a ``StructureType`` that has a ``shape``; instead

[2017-04-20 00:33] lewismc commented on #70
@Omkar20895 having spoken with @robertodealmeida it turns out that the most recent version of the **pydap.responses.netcdf** library can be found [here](https://bitbucket.org/robertodealmeida/pydap/src/6feb1fc58d19718c563289780e3eb4fa9e185a18/pydap.responses.netcdf/?at=default).

I had to manually install [Pupynere](https://bitbucket.org/robertodealmeida/pupynere/) against Python 3 with the follow

[2017-04-20 00:38] lewismc commented on #70
Once you get to the stage above, can we both attempt addressing https://github.com/nasa/podaacpy/issues/101 ? Let me know when you read this and have got this far. We can then look again at addressing http://www.pydap.org/en/latest/responses.html#netcdf

[2017-04-20 13:03] hyoklee commented on #76
Thanks @laliberte for working hard on this issue.

[2017-05-10 13:08] rvalenzuelar opened #98 "Unable to parse token: <!DOCTYPE with HDF5 files"
I'm having troubles when trying to open a hdf5 file:

[code]
I'm not sure how to fix it. Besides the pydap module I installed pydap.handlers.hdf5

[2017-05-10 14:48] laliberte commented on #98
Quick fix: use ``https://`` instead of ``http://``. This means you should use ``'https://gpm1.gesdisc.eosdis.nasa.gov/opendap/GPM_L3/GPM_3IMERGHHE.03/2016/105/3B-HHR-E.MS.MRG.3IMERG.20160414-S000000-E002959.0000.V03E.HDF5'``

The issue here is that ``pydap`` does not follow redirects when links do not require a password. PR #99

[2017-05-10 15:08] laliberte opened #100 "gsw is deprecated for python < 3.5"
Should any use of gsw simply be removed from ``pydap``?

[2017-05-12 16:17] jameshiebert commented on #100
Yeah, it's only used in one place ``pydap.wsgi.functions.density``. Looks like it adds an oceanography equation, which I'm sure is useful to oceanographers (like Roberto!), but I'd argue that that might not be necessary as core functionality. Especially if it's causing dependency problems.

It *is* already an "extras" requirement. You propose that we remove it altogether?

Comments from anyone els

[2017-05-12 17:04] jameshiebert commented on #100
In the mean time we *could* pin the version to 3.0.6...

[code]

[2017-05-12 17:08] laliberte commented on #100
I thought about it but I'm reluctant. 2.7 will be with us for a long time and ``pydap`` will want to provide full support so it does not make sense to rely on third parties that are already dropping said support. It is unfortunate but I think we have no choice but to remove this feature from ``master``. After all, it seems to be much more of a proof of concept and not a core feature...

[2017-05-12 17:57] jameshiebert commented on #100
Pinning to 3.0.6 [works with Py2.7](https://travis-ci.org/pacificclimate/pydap/builds/231653635) FWIW...

[2017-05-12 18:48] rvalenzuelar commented on #98
Thanks! It worked.

[2017-05-12 18:48] #98 closed

[2017-05-12 20:19] laliberte commented on #100
For the moment, that's the easier option, I would say. Sooner or later, however, we are likely to run into some compatibility issues with future python versions and, then, I think we'll have to remove support. Something to keep in mind...

[2017-05-12 20:28] #100 closed

[2017-05-20 15:32] laliberte opened #103 "CEDA authentification fails"
CEDA openid authentication fails. This has been raised on the ``pydap`` mailing list.

[2017-05-22 15:32] jameshiebert commented on #70
Hi all, I'm going to close this issue as a psudo-duplicate of #39 Further discussion can be directed in that direction.

[2017-05-22 15:32] #70 closed

[2017-05-22 15:44] jameshiebert commented on #66
@giumas are you satisfied with @laliberte's suggestions as a resolution to your issue? If so we can close this and just update the developer docs.

[2017-05-22 15:51] jameshiebert commented on #66
Nevermind, we have [that covered already](https://github.com/pydap/pydap/commit/4207286bc173dc9971eedd5508c41878e18cf1aa)

[2017-05-22 16:40] giumas commented on #66
@jameshiebert My apologies for not getting back on this! I am currently working on stuff quite far from HDF Compass.

@jreadey Do you have time to give a look if the proposed solution fits the HDF Compass needs?

[2017-05-22 16:52] jameshiebert opened #104 "Document simple test server"
#92 adds a lightweight server class to be used for development purposes Add a section in the [sever docs](https://github.com/pydap/pydap/blob/master/docs/server.rst) to describe its existence and how to use it.

[2017-05-22 20:33] #36 closed

[2017-05-22 20:37] jameshiebert commented on #33
With #92 merged,  I think that we can safely close this issue. Feel free to reopen if I missed anything.

[2017-05-22 20:37] #33 closed

[2017-05-23 02:11] #5 closed

[2017-05-23 02:20] #103 closed

[2017-05-23 18:03] mihow opened #107 "List of example DAP data sources"
It would be great to start a list of known data sources that can be used by the pydap client.

[2017-05-23 18:04] mihow commented on #107
We then can add some examples to the documentation of use cases as well (separate issue).

Here is an example guide on exploring the Normalized Difference Vegetation Index from 4-Band satellite imagery in the Planet Labs API documentation: https://www.planet.com/docs/guides/quickstart-ndvi/

[2017-05-23 18:59] mihow commented on #107
Found one!

http://docs.opendap.org/index.php/Dataset_List

[2017-05-23 23:03] mihow commented on #53
It looks like the `paste` method used in the simple pydap server script is depreciated and we only need gunicorn to run the pydap server, but the pydap script needs to be updated.

I can do that during the PyCon sprint!

Here is the warning from gunicorn:
[code]

[2017-05-24 00:22] jreadey commented on #66
@giumas - it looks fine as far as I can see.  What this fix resolve https://github.com/HDFGroup/hdf-compass/issues/186?
If you have time to do the update, that would be great.

[2017-05-24 04:29] jameshiebert commented on #53
OK cool, so basically if we fix #52, we'll fix this issue as well.

[2017-05-24 04:44] jameshiebert commented on #107
Wow, that list is extensive! A) I need to get [PCIC's data](https://www.pacificclimate.org/data) on there and B) we should reference this list in our user docs.

[2017-05-24 04:46] #46 closed

[2017-05-24 04:49] jameshiebert commented on #66
OK, I'll go ahead and close then. Glad we got it figured out! :)

[2017-05-24 04:49] #66 closed

[2017-05-24 18:47] jameshiebert commented on #53
Looks like all we have to do is use gunicorn's ``PasterServerApplication`` directly like they have [here](https://github.com/benoitc/gunicorn/blob/master/gunicorn/app/pasterapp.py#L210). Should be a 3 line fix.

[2017-05-24 18:55] mihow commented on #53
I believe you can even just use gunicorn's `WSGIApplication` directly and
loose the PasteDeploy dependency, but I haven't tried yet. Similar syntax:
 `WSGIApplication(app, options).run()`

On Wed, May 24, 2017 at 11:47 AM, James Hiebert <notifications@github.com>
wrote:

[2017-05-24 19:01] jameshiebert commented on #53
Yeah, that'd be better :)

[2017-05-24 22:13] #52 closed

[2017-05-24 22:13] #53 closed

[2017-05-25 17:19] laliberte commented on #69
@jameshiebert what's the strategy here? Are we waiting for all external packages to be merged before removing the namespace package?

[2017-05-26 23:27] jameshiebert commented on #69
I didn't necessarily have a strategy, but I assume that that would be a requirement.

[2017-05-26 23:47] laliberte commented on #69
At the moment more responses and handlers are seriously out of date so there might be little consequences in just going forward with the transition.

[2017-05-29 22:39] jameshiebert commented on #69
Yeah, that's a good point. It might even be *better* to do it now, so that people stop unwittingly installing handlers/responses that won't work with 3.x Pydap.

[2017-05-30 00:13] laliberte commented on #69
I agree. I don't know if that's a good idea but we could move all responses/handlers into the main repository even if they are not currently working. We could then add a warning in each one of them saying that these are not currently implemented and add very basic testing for these warnings. We could then slowly make them available if the demand grows. Is this crazy?

[2017-06-02 11:14] ghisvail opened #116 "Title level inconsistencies in docs"
As reported by Sphinx:
[code]

[2017-06-02 11:30] laliberte commented on #116
@ghisvail could you submit a PR with these fixed?

[2017-06-02 12:06] ghisvail commented on #116
Please make sure checking the docs is added to the the release check-list. Thanks.

[2017-06-02 12:46] #116 closed

[2017-06-02 12:59] laliberte commented on #116
I'm not sure we need to: github renders RST directly so if sphinx does not complain and the output looks good on github it will look good on read the docs.

[2017-06-02 15:03] jameshiebert opened #118 "Add a release checklist to developer docs"

[2017-06-02 15:06] jameshiebert commented on #116
Thanks for the report and the fix. I'd agree that we could use a release checking: I'll add that as an issue (#118). In this case, I *did* build everything on Read the Docs, so not sure that it would have helped catch it. We might be able to build the docs in the TravisCI tests (if Sphinx returns an error code when it raises warnings).

[2017-06-04 00:51] shoyer opened #119 "LocalTestServer without external dependencies for server side functions"
I just experimented a little with using Pydap's new `LocalTestServer` feature for xarray. This looks great, but using it requires server side functions, which adds two additional dependencies for pydap -- gsw and coords.

For a local test setup (e.g., for verifying that pydap is working correctly with xarray), ideally we could make things work with just pydap.

[2017-06-04 15:53] wholmgren opened #120 "add Requests to install_requires"
The requests package is listed under ``cas_extras`` instead of ``install_requires``. ``pydap.client`` needs ``requests``, so it seems to me that it should be a standard dependency.

[2017-06-04 16:11] wholmgren opened #121 "variable name error in pydap 3.2.2"
I'm having trouble accessing a dataset with pydap 3.2.2 that worked fine in 3.2.1. I think 3.2.2 mangles the variable name. I briefly looked at the source, but it wasn't clear to me where the problem was.

pydap 3.2.1

[code]

pydap 3.2.2

[code]

[2017-06-05 12:44] laliberte opened #122 "3.2.3 milestones"
I propose a 3.2.3 version release soon-ish, focused on bug fixes:

- [ ] Make localtestserver more usable by remove serverside functions #119
- [ ] Expand the build matrix to include dependency testing for different user types #120
- [ ] Other bug fixes (e.g. #121)

[2017-06-05 19:02] laliberte opened #126 "open_url does not handle gzip encoding"
It appears that pydap does not handle gzip encoding. This is why an error is raised by #125.

[2017-06-15 20:48] neaptide opened #128 "pydap.handlers.netcdf when dims not in vars"
Using the same name for a dimension as a variable in NetCDF files has always been confusing to me.   In our case, the map is just the index(indices) into the array.  We don't reuse the same name in variables and unfortunately this breaks the netcdf handler at [line 85](https://github.com/pydap/pydap/blob/master/src/pydap/handlers/netcdf/__init__.py#L85) when vars[dim] is used to add the maps. If d

[2017-06-15 21:02] neaptide commented on #128
And something similar for the next code block

[code]

[2017-06-27 17:19] jblarsen opened #129 "NetCDF handler not registered"
When I do a fresh install of pydap (python3 setup.py install --user) the built-in NetCDF handler does not seem to be enabled. I believe an entry point for it in setup.py is needed:

[code]

At least it works in my case after doing that. The same procedure probably applies for the CSV handler.

Best regards,
Jesper

[2017-06-27 20:21] jblarsen opened #130 "NetCDF handler __getitem__ issues"
I believe that the lines below in the LazyVariable class of the NetCDF handler have several issues:

[code]

The first issue is that the reshape method tries to reshape the variable to the original shape of the variable. But the input "key" can change the shape. So if one only tries to extract a subset of the variable an exception will be thrown.

I believe that the second issue is only present wh

[2017-07-01 00:15] giumas commented on #66
@jreadey Does it mean that you actually tested it? It does not seem that [the two proposed changes](https://github.com/HDFGroup/hdf-compass/commit/064a7a938199c2c53392e20ef35bf22db297cb39) are enough, at least on Windows.

[code]

But I am not familiar with `pydap`. Who wrote the `pydad` plugin for HDF Compass?

[2017-07-03 05:21] jreadey commented on #66
@giumas, no I haven't had a chance to try it out.

We had an intern (3 years ago!) who wrote the PyDap plugin.

[2017-07-11 16:44] ghisvail opened #131 "Testing fails on 32-bit architectures"
Both the Intel and ARM 32-bit Debian builders fail at the testing stage with the following output:

[code]

[2017-07-20 15:31] MBARIMike commented on #42
I just saw that this was fixed. Thanks!

[2017-07-20 16:17] MBARIMike opened #132 "'<class 'pydap.model.BaseType'>' object has no attribute 'flatten'"
I updated to Pydap==3.2.2 and my tests are failing with:

[code]

It seems that Numpy's .flatten() method is no longer recognized.

[2017-07-20 16:57] MBARIMike commented on #132
Running my tests with Pydap==3.2.1 I see that [this code](https://github.com/pydap/pydap/blob/4ae73e393b0d52bce9d1cf5571945a9ed884d526/src/pydap/model.py#L234-L239) is never reached with the `values = self.ds[v].array[:].flatten()` call. I wonder if [this commit](https://github.com/pydap/pydap/commit/4207286bc173dc9971eedd5508c41878e18cf1aa) changed how attributes are examined for GridType objects

[2017-07-24 03:19] shoyer opened #133 "pydap.__version__"
It would be nice to have this information available at runtime (e.g., for https://github.com/pydata/xarray/pull/1485).

[2017-08-02 15:49] marcelorodriguesss opened #134 "AttributeError: 'Handler' object has no attribute 'dataset'"
Hi guys,

I am currently using the version 3.1 of Pydap but I am trying to install the version 3.2.2. However, I am getting the following error when I try to open a Grads CTL file (all using Python 2.7):

[code]

I am using the following packages:

Pydap (3.2.2)
pydap.handlers.netcdf (0.6.4)
pydap.handlers.cdms (0.2.0.1)
dap.plugins.netcdf (0.3.5)
dap.plugins.grib2 (0.0dev-r37)
dap.plugins.grads (

[2017-09-17 11:43] tomkralidis commented on #133
Associated pull request in #135

[2017-09-17 18:39] tomkralidis opened #136 "add support for THREDDS Catalog XML"
Implement enhancement to enable a THREDDS Catalog XML representation available at each directory level.

Example link (see bottom of page before footer): http://test.opendap.org/opendap/conus/
Example XML: http://test.opendap.org/opendap/conus/catalog.xml

[2017-09-17 19:02] tomkralidis opened #137 "add support for CSW capability via pycsw"
cc @robertodealmeida, @kwilcox, @rsignell-usgs

Following on from https://github.com/geopython/pycsw/issues/157
The pydap OPeNDAP implementation (http://pydap.org && https://github.com/robertodealmeida/pydap) provides the ability to write extensions to serve out things like WMS, KML, etc.

Investigate the ability to integrate pycsw as a library as a pydap response module, thus exposing pydap conte

[2017-09-18 02:26] rsignell-usgs commented on #137
Our current workflow is to harvest ISO records from THREDDS catalogs using filters to create only the records we want.  This allows us to do things like select only  aggregated datasets, skipping the granule netcdf files, or get select or ignore specific directories.   We usually collect ISO records from multiple servers and then feed those into our pycsw.    I'm not sure a CSW service for pydap w

[2017-09-18 03:15] tomkralidis commented on #137
The use case would be to install pycsw as part of a pydap deployment/installation.  So a single pydap deployment with a pycsw plugin in the same instance/container. Esoteric perhaps :)

[2017-09-18 20:22] neishm opened #139 "Handlers for files without extensions"
Some file types do not use a standard file extension to identify them.  They may have to be opened to inspect the first few bytes, etc.  Is it possible to support this within Pydap? Perhaps, in addition to providing ```extensions```, Handlers could implement a method to determine if the file is supported?  E.g., something like

[code]

Then ```pydap.handlers.lib.get_handler``` could query the ```c

[2017-09-18 22:01] tomkralidis opened #141 "HTML CSS ref is 404"
Running a simple Flask server:

[code]

and viewing HTML pages results in a 404 when referencing the CSS (https://github.com/pydap/pydap/blob/master/src/pydap/wsgi/templates/base.html#L11)

[2017-09-18 23:57] tomkralidis opened #142 "add LICENSE file"
Add a `LICENSE` file at the root of the source code repository.

[2017-09-19 13:01] tomkralidis commented on #142
cc @robertodealmeida @jameshiebert

What is the copyright policy when committing to the codebase?  Grepping the code I see:

[code]

- should the code have proper source code headers in every file displaying copyright and license?
- do devs add their copyright in the source code header?

Possible option: all code files have a source code header like:
[code]
...to which devs add/update their copyri

[2017-09-21 18:15] ChrisBarker-NOAA opened #145 "requests missing from requirements"
It appears pydap uses the requests pacakge, but it's not listed in the setup.py:

[code]

[2017-09-21 18:28] jameshiebert commented on #145
It's not *missing* per se, it's actually listed in the cas (Client Authentication Services) extras.

[code]

To get it installed, you just have to add the extra parameter to your install line:

[code]

[2017-09-21 18:54] tomkralidis commented on #145
Perhaps `cas_extras` should be renamed to `client_extras`, or `client_extras` is introduced which provided just `requests` and `cas_extras` provides `lxml`.  It's clear that the `src/pydap/client.py` breaks without `requests`.

Thoughts? Docs can be updated thereafter.

[2017-09-21 18:56] jameshiebert commented on #145
Yes, that's a good point. I'd be amenable to that. @laliberte the CAS and client stuff is mostly your work. Do you have any opinions on the matter?

[2017-09-21 20:05] laliberte commented on #145
I can confirm that ``requests`` should be required for the client. This was overlooked when #99 was merged. The ``requests`` package is required to ensure that redirects are followed through. Should we simply require it for ``pydap`` at large?

[2017-09-21 21:59] tomkralidis commented on #145
IMHO better not to. From a server perspective requests is not required right? As a server deployment it would mean less moving parts. Thoughts?

Sent from my iPhone

[2017-09-21 22:09] wholmgren commented on #145
I raised the same issue in #120. My vote is for including requests in install_requires.

[2017-09-21 22:47] ChrisBarker-NOAA commented on #145
On Thu, Sep 21, 2017 at 2:59 PM, Tom Kralidis <notifications@github.com>
wrote:

requests is pretty lightweight and easy to install, so not a heavy lift.

at the end of the day, pip doesn't handle optional dependencies well, so
most folks err on the side of including stuff.

what yu really want is for folks to be able to :

pip install pydap

and then have everything work.

if you realy want to ke

[2017-09-21 23:23] tomkralidis commented on #145
@laliberte @wholmgren @ChrisBarker-NOAA thanks for the info.  I like the idea of splitting between `pydap-client` and `pydap-server` but that's a longer term move that needs more discussion.

Having said this, sounds like the path forward is to include `requests` as part of Pydap proper.  I'll issue a PR shortly.

[2017-09-24 15:02] w1malik opened #147 "How to install pydap in ubuntu"
I am unable to install the Pydap using the following command at terminal:

pip install Pydap
Error appears as follows:
Collecting pydap
  Could not fetch URL https://pypi.python.org/simple/pydap/: There was a problem confirming the ssl certificate: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:590) - skipping
  Could not find a version that satisfies the requirement pydap (fro

[2017-10-09 11:13] pauleckhardt opened #148 "Issues with encoding of NaN"
It seems that the NetCDF-Java OPeNDAP client has a problem with pydap's encoding of NaN (e.g. in the DAS response). Some clients seem to only parse 'NaN', while pydap encodes it as 'nan'.

The DAP2 specification does not mention NaN at all, IEEE754 does not specify any string representation of NaN. http://www.unidata.ucar.edu/mailing_lists/archives/thredds/2016/msg00145.html
According to the link

[2017-10-28 03:26] empeeu commented on #78
I'm also trying to access this data. Using

[code]

I get :

[code]

Help much appreciated.

Incidentally, I get the same thing if I enter a random username and password. I'm quite sure I got those right. I'm not sure how to debug this one... Thanks!

[2017-10-29 00:44] empeeu commented on #78
Wow, nevermind. I followed the link and just followed the instructions. Turns out I had to authorize the NASA GESDISC DATA ARCHIVE applications as part of my Earthdata account.

[2017-11-10 16:04] nqlong opened #150 "Error reading data GEOS-5"
Hi everyone, I got the problem when using pydap get data from GEOS-5 ([https://opendap.nccs.nasa.gov/dods/GEOS-5/fp/0.25_deg/fcast/inst1_2d_hwl_Nx])

I write the code as the guide:
[code]

and it return the error

When i debug it return the error

I am trying figure out what issues happening. Please help me or give me the idea. Thanks

[2017-11-20 16:14] rabernat commented on #74
@fujiisoup: this is the issue that I think would help solve the challenge you described on the xarray mailing list

[2017-11-21 06:15] kuchaale opened #153 "404 HTTP Status in connection to Earth System Grid Federation"
I receive 404 HTTP Status when I try to setup session in order to connect to Earth System Grid Federation. See my gist [here](https://gist.github.com/kuchaale/c90bbea33f587130a1c45517a5e9112b).

[2017-11-21 06:15] kuchaale commented on #153
https://github.com/pydata/xarray/issues/#1730

[2017-11-21 06:18] kuchaale commented on #153
pydata/xarray#1730

[2017-11-21 18:13] MBARIMike commented on #132
It seems that previous versions of Pydap allowed accessing data without using the .data attribute. Here are [the specific changes](https://github.com/stoqs/stoqs/pull/659/commits/8839c32d2607ec3484b71efa5a85cdcc6fa87b38) to my code to make it work in version 3.2.2.

This issue may be closed unless there is a desire/need to be backward compatible.

[2017-12-01 16:51] jonascavalcantineto opened #154 "Documentação da versão 3.1.1."
No site a documentação esta indisponivel da versão 3.1.1, como posso conseguir?

[2017-12-08 14:30] pauleckhardt opened #155 "problems with unicode attribute values and variable values"
When using a unicode string as attribute value or variable value, a UnicodeEncodeError is thrown in
pydap/lib.py", line 135, in encode:
    return '"{0}"'.format(obj)

[2018-01-04 15:14] jblarsen opened #157 "ASCII response error"
When I try this request (I run pydap on port 8090):

[code]

I get an error:

[code]

The NetCDF file I try to request is a test file with the following CDL (use ncgen to create the NetCDF file):

[code]

This request works fine:

[code]

I have used pydap from the master branch which has a NetCDF handler included. But I had to do this:

https://github.com/pydap/pydap/issues/129

to get it registe

[2018-01-05 09:24] jblarsen commented on #157
I believe that this issue is related to #132

[2018-01-05 11:43] jblarsen commented on #157
Here is a suggestion for a fix based on the dods response:

[code]

[2018-01-10 15:41] rabernat commented on #74
We are considering asking some interns to work on the xarray pydap handler.

In the opinion of the pydap developers, would such an integration belong _inside_ pydap or as a standalone project?

[2018-01-10 16:48] shoyer commented on #74
@fujiisoup's recent work in xarray's test suite converting an xarray.Dataset into a pydap Dataset might be a useful starting point for this: https://github.com/pydata/xarray/blob/b6300ea9d9e84e24fc2e03bdff06d8d0659e2344/xarray/tests/test_backends.py#L2003-L2017

[2018-01-10 19:20] laliberte commented on #74
@rabernat I think it could and it probably should reside inside pydap but, at the moment, the pydap repo is pretty much dormant. PRs have not been merged in months and I have very little time to devote to the project. Now could be a good time to rethink the governance structure of pydap. @jameshiebert do you have an opinion?

[2018-01-10 19:42] jameshiebert commented on #74
I haven't had a ton of time recently to devote to Pydap either, but that's not to say that I'll *never* have any time. I'm happy to rethink governance and/or take on more maintainers who *do* have time...

[2018-01-10 19:47] rabernat commented on #74
pydap is a very valuable package for the python geoscience community. Are any of the maintainers at agencies who have a mandate to support such tools (e.g. Unidata, NCAR, NOAA, USGS, etc)?

[2018-01-10 19:55] laliberte commented on #74
@jameshiebert maybe keeping the same governance but adding maintainers that could jointly merge PRs without your direct approval might prove positive for this project. It seems as if there was some clear community interest recently from which motivated individuals could be tapped.

[2018-01-22 12:03] Alexander-Barth commented on #129
I have exactly the same issue with a clean install in a Docker environment.

[2018-01-22 14:06] Alexander-Barth commented on #129
I can confirm that the fork at https://github.com/jblarsen/pydap works. Hopefully, this change will get integrated.

[2018-01-26 15:06] ererkka commented on #121
I’m having similar trouble when using xarray and pydap. Why is the variable name gets doubled like above: 'Temperature_surface.Temperature_surface'?

[2018-01-26 20:51] #121 closed

[2018-01-26 20:53] #145 closed

[2018-01-26 20:53] #120 closed

[2018-01-26 21:56] laliberte commented on #121
@ererkka the doubling of variable names has to do with the DAP specification and more specifically with the Grid data type. It's an awkward data type that has been respecified in the newer DAP specification. Unfortunately, this newer specification is not widely used. It should be fixed now!

[2018-01-27 08:39] ererkka commented on #121
This resolved my problem, thank you very much!

[2018-01-31 22:18] rocheseb opened #160 "Anaconda installs pydap 3.2.1"
With a fresh install of Anaconda on linux, I installed pydap with

`conda install pydap`

which installed version 3.2.1 instead of 3.2.2, and the latest version is not found with

`conda install pydap=3.2.2`

I had to uninstall it and reinstall it with

`pip install pydap`

which installs the latest 3.2.2

[2018-02-01 19:04] jameshiebert commented on #160
Sorry, we don't maintain conda or the [conda package repository](https://anaconda.org/anaconda/repo), so I'm not really sure what this has to do with us. What is it that you're asking for here?

[2018-02-01 19:04] #160 closed

[2018-02-01 19:13] jameshiebert commented on #154
Yeah, as far as I can tell, Read the Docs will only build the documentation using Python 3. Prior to Pydap 3.2, Pydap did not support Python 3, so the doc build fails. The thing is, all of the documentation history (including 3.1.1) is still in the git repo, and it's written in RST, so it renders on GitHub. It's non-ideal, but you can read it file-by-file [here](https://github.com/pydap/pydap/tree

[2018-02-01 19:13] #154 closed

[2018-02-01 19:20] jameshiebert commented on #147
I assume that this was either transient or a problem with your pip install. I'm on Ubuntu as well, and everything is working fine, AFAICT.

[code]

[code]

[2018-02-01 19:20] #147 closed

[2018-02-07 18:27] flackdl opened #162 "open_url(): UnicodeDecodeError"
`open_url()` is throwing a `UnicodeDecodeError` error for http://oos.soest.hawaii.edu/erddap/griddap/NCEP_Global_Best.nc.

I know if you request the entire file (i.e via curl) the server will throw a *HTTP Status 500 - Your query produced too much data*, but I believe this module does lazy loading so I don't understand what could be happening, unless it is indeed an encoding issue.

Anyone know wh

[2018-02-07 18:36] flackdl commented on #162
I should note this arises with python `2.7` and `3.6`.

[2018-02-07 18:42] flackdl commented on #162
It looks like https://github.com/pydap/pydap/pull/152 solves the problem, which is gzip compression handing.  I found the reference on the [mailing list](https://groups.google.com/forum/#!topic/pydap/el4r1s0O6PI).  I'll close this since it's a duplicate.

[2018-02-07 18:42] #162 closed

[2018-02-07 19:08] jameshiebert commented on #162
And it should be handled by #127, which has already been merged into master. So the next release should take care of this issue for you.

And FYI, if the server throws a 500 error that's a *server* error. So it doesn't matter that the pydap *client* can stream data from the server. If the server can't stream data *to* the client (and to my knowledge ERDDAP cannot), there's nothing you can do from

[2018-02-10 05:36] empeeu opened #163 "DAS parser fails due to semicolon in metadata"
Hi Folks, I'm trying to pull some data from nsidc.org (NASA) and I'm running into a problem with semicolons in metadata.

Code to reproduce:

[code]
This give me:
[code]

It turns out the error is thrown from this line: https://github.com/pydap/pydap/blob/master/src/pydap/parsers/das.py#L85

It happens because the metadata for the file has a semicolon in it:

[code]

where this lines causes the pr

[2018-02-13 03:30] ForTozs opened #164 "UnicodeDecodeError: 'utf8' codec can't decode byte 0x8b in position 1: invalid start byte"
I am getting an error on my system when trying to access some data with dap. It may be something on my system, because it works on my other computer. Has anyone encountered this before?

[code]

[2018-02-13 04:55] ForTozs commented on #164
related to #152. I have it working good enough now.

[2018-02-13 04:55] #164 closed

[2018-02-16 00:23] ax3l commented on #66
@giumas @laliberte @jameshiebert @jreadey the issue is not solved. Can you please re-open this issue and take a second look?
I tried to debug it and could not solve it either - although I have 0 knowledge on pydap...

[2018-02-16 00:24] ax3l commented on #66
This is the last backend that is missing to ship the `py3` branch for a new release, afaik.

[2018-02-21 20:46] lewismc commented on #39
Hi Folks, OK coming back to this again after a few months. Can someone outline what the proposed work here is? Thanks

[2018-03-09 20:26] bbakernoaa commented on #98
I'm having a similar problem with the https://opendap.cr.usgs.gov/opendap/hyrax/ opendap server.  I've of course entered in my user and password but was omitted here....

[code]

[2018-03-17 20:04] rabernat commented on #119
I just started playing with pydap and hit this same issue.

It would be nice to have an easy way to bypass these server side functions from the command line, or simply not apply them if the dependencies are not available.

[code]

[2018-03-18 00:57] rabernat opened #165 "can't get netcdf handler to work"
I am just trying to run a pydap server in its most simple configuration, to serve netcdf files.

I installed pydap as follows:
[code]

Then I ran a pydap server from a directory with netcdf files in it
[code]

The netcdf (.nc) files are visible in the browser but not active. I can't click them.

The only way I can get them to work is by cloning https://github.com/pydap/pydap.handlers.netcdf and in

[2018-03-18 00:58] rabernat commented on #165
Perhaps this is a duplicate of #129?

[2018-03-19 13:20] neaptide commented on #165
Hi Ryan:  I had the same problem (approx. 10 months ago) when Pablo answered my plea in the pydap Google Groups forum.

Handlers on Pypi are out of date relative to the new pydap development in github
(pydap) $ pip install pydap.handlers.netcdf

# get the lastest code -- to see dds, das, html repsonse on webrowser, without this it doesn't work
# posted answer on Google Groups listserve for pydap -

[2018-03-20 17:09] empeeu commented on #163
In the meantime I contacted the NSIDC folks and the OpenDAP folks -- they seemed to have sorted it out. This issue can now be closed.

[2018-03-20 17:09] #163 closed

[2018-05-07 14:42] bucricket opened #166 "retry opening server"
Hi,

This is more of a question. I can't seem to find it in any of my google searches.  I am trying to access data from an OpenDap server that appears to be a bit unstable at the moment.  I get a 505 error the first time I try but if I try again I can get it to work.  Sometimes it takes a couple tries.  I wonder is there a way to keep retrying to open the data using pydap?

Thanks!
Mitch

[2018-07-03 13:23] MBARIMike opened #167 "Uncompressing gzip content_encoded das and dds responses"
I'm wondering if anyone else has encountered this problem. The same file on 2 different thredds servers gives these results with Pydap-3.2.2:

[code]
It turns out that the second server is gzipping the response:
[code]
Note the `Content-Encoding: gzip` in the second response.

Is it possible that Pydap does not yet have the logic to uncompress such responses?

[2018-07-03 13:45] MBARIMike commented on #167
Ahhh!

I cloned the current repo and discovered that [this commit](https://github.com/pydap/pydap/commit/84e85db948012de7368da610a63376c1e2f273ef) has probably fixed the problem.

[2018-07-03 13:53] MBARIMike commented on #167
Yes, that commit has fixed my problem. It's been over a year since there's been a new release of Pydap. Perhaps it's time to push a new one out to PyPI and Conda?

[2018-10-09 20:47] tomkralidis opened #169 "pydap.org not responding"
Looks like hitting http://pydap.org results in a timeout.

I'm not sure where/how pydap.org is setup.  @betodealmeida are you aware of any configurations?  I'd propose a GitHub pages setup so long as pydap.org DNS is setup accordingly.

[2018-10-09 22:18] betodealmeida commented on #169
Hi, Tom! Looks like the domain expired earlier this month. I just renewed it for another year, and it's working again. It points to the read-the-docs website that someone set up some time ago.

Thanks for leading the effort on reviving Pydap, by the way. I'm planning on attending the meeting, and I'm curious about the state of its web UI — It would be nice to modernize it with React, and maybe int

[2018-10-09 22:28] tomkralidis commented on #169
Thanks @betodealmeida!  Awesome news that you'll be at our meeting on Friday!

[2018-10-09 22:31] tomkralidis commented on #169
@betodealmeida when I try https://pydap.org I get a timeout (http://pydap.org works fine).  Is this something you can enable on your end?

[2018-10-09 22:34] betodealmeida commented on #169
I think so... https://www.pydap.org/ works for me, but not https://pydap.org. I'll take a look at the DNS config.

[2018-10-09 22:35] tomkralidis opened #170 "build out proper website"
cc @betodealmeida

Currently, hitting http://pydap.org redirects to the readthedocs setup.  This is for Pydap documentation proper tied to a given version.

It would be valuable to build out a proper, simple website presence via GitHub pages.  The website would contain version independent information (community, features, downloads, etc.) and live in `gh-pages`, for example, or a dedicated pydap.o

[2018-10-09 22:38] tomkralidis opened #171 "create project logo"
It would be valuable to create a project logo for general use (website, favicon, etc.).

[2018-10-09 22:41] betodealmeida commented on #169
I pointed pydap.org to 104.18.231.122 (the IP for readthedocs.io), since the root record cannot use a `CNAME`. Now it resolves, but returns a 403. Maybe something needs to be changed in readthedocs?

[2018-10-09 22:42] betodealmeida commented on #169
https://github.com/rtfd/readthedocs.org/issues/2652

[2018-10-09 22:43] tomkralidis commented on #169
Any idea who has readthedocs credentials? https://readthedocs.org/projects/pydap/ ?

[2018-10-09 22:45] betodealmeida commented on #169
@shoyer and @jameshiebert

[2018-10-09 22:47] tomkralidis commented on #169
If someone can take a look or add me (rtd username=tomkralidis) to Pydap I can take a look.

[2018-10-09 23:37] tomkralidis commented on #169
thanks @shoyer.  I've added HTTPS support in RTD.  When https://pydap.org I get:

https://docs.readthedocs.io/en/latest/alternate_domains.html#cname-ssl

@betodealmeida does the DNS  need to point to readthedocs.io instead?

[2018-10-10 00:35] tomkralidis commented on #169
Looks like https://www.pydap.org works but http://pydap.org does not.

The lack of a root A record to readthedocs may be the issue.  Perhaps once #170 is implemented this will be a moot point given GitHub pages supports apex domains.

[2018-10-10 02:36] mandyellow commented on #171
Hi, I made a logo for your project. Hope you enjoy! :-)

![ativo 1-100](https://user-images.githubusercontent.com/30158643/46709877-1b103e00-cc1c-11e8-9875-175a44c38044.jpg)

[2018-10-10 13:05] 7yl4r commented on #171
My first glance read this as pydag, but I like the overall look.

[2018-10-10 14:12] mandyellow commented on #171
WOW, It's true... The letter P looks like a G... Let me try again! :-)
![ativo 3-100](https://user-images.githubusercontent.com/30158643/46742379-4b3bf900-cc7d-11e8-8212-bc2c14ad4fde.jpg)

[2018-10-10 14:38] 7yl4r commented on #170
I see you created a separate repo over at https://github.com/pydap/pydap.org . Jekyll/gh-pages in a separate repo is the way to go, so :+1: for that. I will follow over there and watch for any technical issues I might be able to help with.

[2018-10-10 14:58] tomkralidis commented on #171
Nice work @mandyellow! Comments:

# Icon
- can we have the icon have rounded corners?
- perhaps just a single 'P' atop an image like https://docs.opendap.org/favicon.ico (same shape, any colour)

[2018-10-10 17:09] tomkralidis commented on #171
@7yl4r great work here too! Comments:
- can we make the text Pydap (not pyDAP)?

[2018-10-10 17:31] mandyellow commented on #171
@tomkralidis just have a look if I get it right, please

![ativo 4-100](https://user-images.githubusercontent.com/30158643/46754553-235a8e80-cc99-11e8-9486-581f95ef72a0.jpg)

[2018-10-10 17:35] tomkralidis commented on #171
@mandyellow exactly, good work!  Looking forward to comments from others.

[2018-10-10 17:41] 7yl4r commented on #171
Lol. Sure, here's lowercased.

![pydap](https://user-images.githubusercontent.com/1051390/46755083-b9031780-ccb3-11e8-8794-7892b613aca5.png)

Here's a link to [download the inkscape svg](https://drive.google.com/file/d/14BkcP0WPPqy-B1da9191u7SrrMJZDbeQ/view?usp=sharing) if anyone else wants to play with it.

[2018-10-15 19:54] tomkralidis commented on #133
Fixed in master.

[2018-10-15 19:54] #133 closed

[2018-10-16 16:40] #126 closed

[2018-10-16 20:33] tomkralidis commented on #141
Fixed as part of #144

[2018-10-16 20:33] #141 closed

[2018-10-16 20:33] tomkralidis commented on #136
Implemented in #138

[2018-10-16 20:33] #136 closed

[2018-10-16 20:35] tomkralidis commented on #171
@mandyellow one more example: can you make the log text 'Pydap' instead of 'PYDAP' ?

[2018-10-18 01:39] mandyellow commented on #171
Sure :)
![ativo 6-100](https://user-images.githubusercontent.com/30158643/47126111-70bc9a00-d25d-11e8-8689-0c8c00d12f6a.jpg)

[2018-10-18 05:16] jgallagher59701 commented on #171
+1

[2018-10-22 10:24] tomkralidis commented on #171
@mandyellow based on community input we are going with `pydap` (not `Pydap`) as the canonical spelling of the project.  Would the icon/logo in https://github.com/pydap/pydap/issues/171#issuecomment-428660925 end up being the same?

[2018-10-26 21:28] laliberte opened #175 "Drop python 3.4"
Should python 3.4 support be dropped?

[2018-10-27 16:04] laliberte commented on #169
Both links are working for me. @tomkralidis can you confirm? We could probably close this thread.

[2018-10-27 16:12] tomkralidis commented on #175
@laliberte what's the rationale for dropping 3.4?  What 3.x versions should we officially support?

[2018-10-27 16:15] tomkralidis commented on #137
Closing, we should be able to install pydap and pycsw seprately and have pycsw point to pydap entries all the same.

[2018-10-27 16:15] #137 closed

[2018-10-27 16:55] laliberte commented on #175
The main reason is that python 3.4 will have its final release in Q1 2019 and that travis builds with 3.4 are longer than with other python versions (IMHO this should be a sufficient reason). As for supported versions, we should probably add python 3.7 when we remove 3.4. This way we keep support for 4 python versions.

[2018-10-27 17:14] tomkralidis commented on #175
Thanks @laliberte will do.

Total aside: @laliberte can you contact me tomkralidis@gmail.com offline concerning pydap?

[2018-10-27 17:51] tomkralidis commented on #175
PR in #176, looks like a few issues to fix to cover 3.7

[2018-11-13 09:47] hugovk commented on #175
By the way, here's the pip installs for pydap from PyPI for last month, showing very low numbers for 3.4:

| category | percent | downloads |
|----------|--------:|----------:|
|      3.6 |  61.79% |     1,365 |
|      2.7 |  23.31% |       515 |
| null     |  10.00% |       221 |
|      3.7 |   1.95% |        43 |
|      3.4 |   1.81% |        40 |
|      3.5 |   1.13% |        25 |
| Total    |

[2018-11-29 20:35] rabernat commented on #74
We would like to start working on this again now that pydap is revived.

@TanBowen is an intern here at Columbia and might be able to contribute here.

But it would be great to have some advice on the best path forward.

The main challenge I see is that all current handlers are based around files. Xarray isn't a file format but rather a library for reading files. Eventually, we would like to be ab

[2018-11-29 20:37] rabernat commented on #165
I am still having this problem. What is the best way to install the netcdf handlers?

cc @TanBowen

[2018-11-29 20:41] shoyer commented on #74
A good place to start might be looking at the helper function we created in xarray's tests for converting an xarray.Dataset into `pydap.model.DatasetType`:
https://github.com/pydata/xarray/blob/0d6056e8816e3d367a64f36c7f1a5c4e1ce4ed4e/xarray/tests/test_backends.py#L2323-L2337

This was created for client side tests in xarray (and is certainly not comprehensive), but I imagine that the server side

[2018-12-07 08:32] XiaoLinhong commented on #74
@shoyer wow, that's very nice work!

[2019-01-07 12:39] #129 closed

[2019-01-07 12:39] #165 closed

[2019-01-08 08:43] evertrol opened #183 "Remove / deprecate NCA and CDMS handlers from handlers documentation?"
The `pydap.handlers.nca` and `pydap.handlers.cdms` handlers are still listed on the [handlers documentation](http://pydap.org/en/latest/handlers.html), but these packages are not Python 3 compatible. Further, their latest release on PyPI are from 2012 and 2011, respectively.

Perhaps these handlers should be removed from the documentation, or be marked as deprecated/outdated and unusable with Pyth

[2019-01-08 09:21] evertrol commented on #183
Actually, this appears to be the case for the NetCDF and HDF5 handlers as well: I can't install these from PyPI with `pip3`, since these packages are not Python 3 compatible. Am I overlooking something?

Example error:

[code]

[2019-01-08 13:35] evertrol opened #184 "Large-ish files don't get properly served"
I'm trying the stand-alone server for testing purposes; it serves a directory of netCDF files (using the built-in netCDF handler).

For files larger than approximately 100MB, I run into an issue with reshaping the data (traceback appended below).
It looks like the server serves the data in blocks of a certain size (going by the various generators and yield statements), limiting the block size. In

[2019-02-04 21:13] flackdl commented on #183
I am running into the same issue.

[2019-03-05 21:31] pjm4github opened #185 "How to retrieve the new THREDDS data set with pydap?"
I have been trying to use the example get_nomads.py module from Will Holgren which he was nice enough to forward my way. In the code, there is a call to get the THREDDS data as follows:

[code]

Which does not work because (apparently) the old THREDDS server has been decommissioned.

[code]
So looking around I am not able to find a THREDDS server that supports this method of data access.

BTW: I a

[2019-03-31 22:48] sandrotosi opened #186 "is this the continuation of http://pydap.org/2.x/ ?"
Hello,
i maintain pydap in debian, and i just realized we're still using pydap 2.x there; so i'm wondering if this project is the continuation of http://pydap.org/2.x/

for once, i noticed the module name has change from `dap` to pydap`, so that could bring some figuring out on how to transition correctly to the previous version this one.

thanks

[2019-04-02 11:57] iboates opened #187 "Cache not working? Can I check if the server disallows?"
I am trying to implement a cache as per the docs: https://www.pydap.org/en/latest/client.html?highlight=cache#using-a-cache

I have the following code:

[code]

But while debugging, I do not see any files being created in ´.pydapcache´. Is there a way that I can check if the server disallows caching?

[2019-04-04 16:23] wallinb opened #188 "URS not working for NSIDC OPeNDAP"
I am attempting to access a granule in the NSIDC ECS OPeNDAP instance using pydap, but unable to successfully authenticate with URS.  Looking at PR #57, I would expect this to work when using pydap v3.2.2:

[code]

Returns an HTTPError that looks like a redirect is not being followed.

[code]

I tried tracing the execution down to the `webob.Request` but I am not sure at that point what I should b

[2019-04-04 23:39] wallinb commented on #188
With requests, this works:
[code]
so I hoped this might work:
[code]
but the error is the same.

[2019-04-08 07:16] wallinb commented on #188
Thanks to Peter L. Smith for a workaround and thorough explanation:

[2019-04-23 22:25] jaythespacehound opened #189 "can not get data from gfs - ValueError: not enough values to unpack (expected 2, got 1)"
Hi all, I can't get this to work and am probably just being dumb.
But I couldn't figure out how to actually access a slice of data.
Apologies for clogging up the issues page but am a bit lost.

Trying to access some data from the global forecast system:
[code]

So figure it was already a GridType so maybe just slice when getting data:

[code]

but some things do work:
[code]

Any advice on what I'

[2019-04-27 12:34] Juanlu001 opened #190 "pydap applies scale_factor without adjusting dtype"
After installing the development version of pydap using:

[code]

(see https://github.com/pydap/pydap/issues/165#issuecomment-374208823)

I am trying to serve the attached dataset ([data.zip](https://github.com/pydap/pydap/files/3123870/data.zip)).

In the `Details` I paste the info that the pydap web frontend gives.

<details>

DDS:

[code]

DAS:

[code]
</details>

When loading the dataset both

[2019-04-27 17:20] Juanlu001 commented on #190
Approaching the problem.

For this particular dataset:

[code]

This is perplexing, but perhaps it makes total sense.

Then, when iterating over the dataset, a cast happens, and here is where it is all converted to zeros:

https://github.com/pydap/pydap/blob/3cc2b654de3230fefa9ebce58d525ef9513b0c4e/src/pydap/handlers/netcdf/__init__.py#L161

Now thinking what to do...

[2019-04-27 17:34] Juanlu001 commented on #190
All right, now I understand: the scale factor.

[code]

I guess the problem then comes when determining the dtype:

https://github.com/pydap/pydap/blob/3cc2b654de3230fefa9ebce58d525ef9513b0c4e/src/pydap/handlers/netcdf/__init__.py#L107-L108

(by the way, I think the `datatype` property there is just dead code)

xarray seems to do it correctly:

[code]

So I assume the dtype assignment logic has to

[2019-04-27 17:58] Juanlu001 commented on #190
For the record, this is how xarray does it:

https://github.com/pydata/xarray/blob/aa6abb592ac2464170459ca96409398ec8b4593a/xarray/conventions.py#L298-L301

https://github.com/pydata/xarray/blob/aa6abb592ac2464170459ca96409398ec8b4593a/xarray/core/dtypes.py#L65-L70

[2019-04-27 18:30] Juanlu001 commented on #190
...although the logic that serves the data stream has to be updated as well:

https://github.com/pydap/pydap/blob/3cc2b654de3230fefa9ebce58d525ef9513b0c4e/src/pydap/responses/dods.py#L227

[2019-04-27 18:44] Juanlu001 commented on #190
Edited the title of the issue to be more informative.

[2019-04-27 18:46] Juanlu001 commented on #190
Another option would be to _not_ apply the scale factor and let the final client do that instead.

[2019-04-28 16:29] Juanlu001 commented on #175
Done in #192.

[2019-04-28 16:31] Juanlu001 commented on #122
What about 3.3.0, now that Python 3.4 support has been dropped?

[2019-04-28 16:34] #175 closed

[2019-04-29 01:41] #190 closed

[2019-04-29 09:41] Juanlu001 commented on #184
Python 3.7 had a bug that was fixed in #192. Could you please try again with current `master`? If it still fails, could you please share the file so I can try to reproduce the issue? I'm interested in this problem.

[2019-04-29 09:44] Juanlu001 commented on #171
Looking forward to see https://github.com/pydap/pydap/issues/171#issuecomment-428660925 in the website :)

[2019-05-03 15:54] hyoklee commented on #188
I had the same issue with GES DISC OPeNDAP. Specifically:

https://acdisc.gesdisc.eosdis.nasa.gov:443/opendap/HDF-EOS5/Aura_MLS_Level2/ML2BRO.004/2016/

[2019-05-04 02:11] hyoklee commented on #188
I have the same issue with NSIDC OPeNDAP server.

[2019-05-04 11:17] Juanlu001 opened #194 "Malformed DAS when missing data"
I found a dataset which had a missing integer variable, and the resulting DAS contained a syntax error (see https://github.com/Unidata/netcdf4-python/issues/923 for my original report). This is the problematic line:

[code]

Comparing the output with Hyrax (see also https://github.com/OPENDAP/hyrax-docker/issues/6) it seems that Hyrax decides not to yield the line:

[code]

It turns out one single

[2019-05-04 11:21] Juanlu001 commented on #148
That's not what I understand:

case-insensitive manner for the string representation of a NaN.

OPeNDAP client code more lenient in this regard.

[2019-05-09 15:11] wallinb commented on #188
Thanks to Peter L. Smith at Raytheon for this workaround and the following explanation:

[code]

[2019-05-22 14:38] epifanio opened #196 "decode error for unicode charaters"
maybe related to https://github.com/pydap/pydap/pull/152 and https://github.com/pydap/pydap/issues/164

Trying to get a netcdf data served via PyDap. The file in question works fine in a standard python console with direct access using python-netcdf4
while in pydap, on the web interface the das is not available and the apache log returns this error:

[code]
a bad hack to fix the das .. is to add a

[2019-05-28 08:56] epifanio commented on #196
I tried to manually set the `r.charset` value to `UTF-8` in `src/pydap/handlers/dap.py` in [`DAPHandler()`](https://github.com/epifanio/pydap/blob/master/src/pydap/handlers/dap.py#L54-L61) and in [`get_charset()`](https://github.com/epifanio/pydap/blob/master/src/pydap/handlers/dap.py#L104) with no luck.

As debug, I added a print statement in [`webob/response.py`](https://github.com/Pylons/webob/

[2019-06-13 16:46] epifanio commented on #196
Can you help with this? It is being a crucial set back for countries that use unicode characters in their netcdf metadata :(

[2019-06-17 11:01] albertotb opened #197 "pydap.exceptions.ExtensionNotSupportedError: 'No handler available for file'"
I'm running a server with

    pydap --data ./netcdf/ --port 8001

I put the test file [](http://test.opendap.org/dap/data/nc/coads_climatology.nc) inside the `./netcdf` dir. However, when I try to access the file with

    open_url('http://localhost:8001/coads_climatology.nc')

I get the following error in the server:

[code]

I have the NetCDF handler installed and also

    open_url('http://tes

[2019-06-27 12:05] huard opened #198 "Subsetting changes how attributes are handled"
#### MCVE Code Sample
[code]

#### Problem Description
Opening a subsetted dataset with PydapDataStore creates global attributes instead of variable attributes.

#### Expected Output
All the global `TIME.*` attributes should be attributes of the `TIME` DataArray.

#### Output of ``xr.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 3.6.8 |Anaconda, Inc.| (def

[2019-06-30 13:56] #194 closed

[2019-06-30 14:25] Juanlu001 commented on #165
Also, `pip install pydap.handlers.netcdf` is Python 2 only:

[code]

[2019-06-30 14:28] Juanlu001 commented on #197
@albertotb the original issue was https://github.com/pydap/pydap/issues/129, which was fixed in https://github.com/pydap/pydap/pull/179. Until there is a new release, you will have to install directly from `master`:

https://github.com/pydap/pydap/pull/179#issuecomment-460425196

[2019-06-30 14:33] Juanlu001 commented on #184
I think I am experiencing this same error with a variety of datasets (Linux, python 3.7.3, latest pydap `master`). I will post here if I reach any conclusion.

[2019-06-30 16:02] Juanlu001 commented on #184
Possible upstream issues:

* https://github.com/Unidata/netcdf4-python/issues/814
* https://github.com/Unidata/netcdf4-python/issues/753

[2019-06-30 16:07] albertotb commented on #197
@Juanlu001 I see. I will install from master and report back

[2019-06-30 19:11] Juanlu001 commented on #184
In my particular case, the culprit seems to be in `.buf_size` of the `Arrayterator` created by pydap not being equivalent to the multiplication of the dimensions:

[code]

which then produces an "incomplete" slice:

https://github.com/numpy/numpy/blob/7ebbc2ed3b4a388dd3942e1d8ef2de18074a09b3/numpy/lib/arrayterator.py#L192-L211

And ends up demanding a reshape that can't be performed. More details

[2019-06-30 19:53] Juanlu001 commented on #184
Well, it turns out it was in front of our eyes.

Large-ish means... exactly larger than the default buffer size:

https://github.com/pydap/pydap/blob/797aa179f23c42c9acae89ef3416d5d8f0723de2/src/pydap/handlers/lib.py#L38

I confirm that increasing that hardcoded value fixes the issue. I am not an expert in WSGI, but I guess there is a better way of configuring it using the request environ:

https:

[2019-06-30 20:40] Juanlu001 commented on #184
Well, sadly increasing the buffer size fixed some problems, but not all. Now I can at least query the data for its full size, but there is still some index computation that is producing wrong slices. That will have to wait for another day...

[2019-07-03 11:54] evertrol commented on #184
I've just been trying, and it looks like I can confirm this is still an issue. If not the buffer size, then indeed the slice computation size:
[code]

For what it's worth, this is with several files, which are also standard CMIP5 datasets.

[2019-07-04 07:07] epifanio commented on #169
it looks like is down now -

[2019-07-04 12:18] albertotb commented on #197
Seems that installing from master fixed the issue, but only needed the repo pydap.handlers.netcdf

[2019-07-05 02:49] tomkralidis commented on #169
cc @betodealmeida

looks like https://www.pydap.org works but http://pydap.org/ does not. I'm guessing it's a DNS / CNAME issue.

[2019-07-07 07:13] LucaFibbi opened #199 "handlers csv (SequenceType) return exception with a projection selection"
When I make a request to a file csv with a projection selection the server throw the following exception:

Traceback (most recent call last):
  File "/var/www/pydapenv/lib/python3.6/site-packages/pydap/responses/ascii.py", line 38, in __iter__
    for line in dds(self.dataset):
  File "/var/www/pydapenv/lib/python3.6/site-packages/pydap/responses/dds.py", line 56, in _
    for line in dds(child, l

[2019-07-13 08:48] LucaFibbi commented on #199
The following patch avoids the exception:
'''
Index: src/pydap/handlers/lib.py
===================================================================
--- src/pydap/handlers/lib.py	(revision 584)
+++ src/pydap/handlers/lib.py	(working copy)
@@ -347,10 +347,13 @@
         # return a child, and adjust the data so that only the corresponding
         # column is returned
         if isinstance(key, strin

[2019-07-13 08:53] LucaFibbi commented on #199
The following patch avoids the exception:

[code]

[2019-07-14 15:33] LucaFibbi opened #200 "The selection does not work"
When I apply a selection this produce the same results as the request without selection.
The reason is an error in the function apply_selection in the file pydap/handlers/lib.py.
The parameter selection passed to this function is of type class string, but in the function it is used as if it is a list. The for loop in the function iterates on the characters of the string, so the regular expression

[2019-07-15 06:09] #200 closed

[2019-07-30 22:24] nathanlcarlson opened #202 "Site down"
As reported in the pydap.org repository https://github.com/pydap/pydap.org/issues/1 it appears the pydap.org site is unavailable.

[2019-07-31 02:43] neishm commented on #202
Looks like this issue is already reported in #169.  The alternate URL https://www.pydap.org still works.

[2019-07-31 02:45] nathanlcarlson commented on #202
Okay, should probably put that one in the header line at the top of this repository.

[2019-08-20 08:16] epifanio commented on #128
The proposed fix helped me in solving the same issue I had serving some sentinel 1 dataset, thanks @nathanlcarlson

[2019-08-31 09:38] QuLogic opened #203 "Deprecations about imports from collections"
The `Mapping` import causes a deprecation warning and will be removed in 3.9:
[code]
Also, `Iterable`:
[code]

[2019-09-20 09:05] tomkralidis commented on #202
Closing as duplicate of #169.  The pydap/pydap.org repository is since deleted given we kept the website setup in pydap/pydap proper.

[2019-09-20 09:05] #202 closed

[2019-09-20 09:07] tomkralidis commented on #169
@betodealmeida any chance you can look into the DNS issues?  Website continues to be down.

[2019-09-21 06:58] betodealmeida commented on #169
Sure, let me take a look.On Sep 20, 2019 11:07 AM, Tom Kralidis <notifications@github.com> wrote:@betodealmeida any chance you can look into the DNS issues?  Website continues to be down.

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2019-09-23 23:19] #128 closed

[2019-09-25 12:19] sr-murthy opened #205 "SSL certificate error when trying to access GES DISC data"
Hi

I'm using pydap in a Python backend script to access some GES DISC data (NASA Aura OMI aerosol optical depth data - https://acdisc.gsfc.nasa.gov/data/Aura_OMI_Level3/OMAEROe.003/2019/). The procedure described in your documentation produces an SSL certificate error for me.

    In [1] from pydap.client import open_url

    In [2] from pydap.cas.urs import setup_session

    In [3] dataset_url

[2019-10-02 18:09] betodealmeida commented on #169
Fixed sorry. For the naked domain I need to point to the IP, and looks like it changed. Not sure how to fix this permanently.

[2019-10-02 18:09] #169 closed

[2019-10-05 14:59] tahaum commented on #162
I'm experiencing the same problem. Original error:

`ds = open_url('https://thredds.met.no/thredds/dodsC/meps25epsarchive/2017/10/29/meps_mbr0_pp_2_5km_20171029T00Z.nc')
---------------------------------------------------------------------------
UnicodeDecodeError                        Traceback (most recent call last)
<ipython-input-2-63f3aa299554> in <module>()
----> 1 ds = open_url('https://th

[2019-10-05 15:21] tahaum commented on #196
Experiencing the same thing, for this URL: https://thredds.met.no/thredds/dodsC/meps25epsarchive/2017/10/29/meps_mbr0_pp_2_5km_20171029T00Z.nc

Left a comment at #162 with some more details.

[2019-10-07 20:50] jsadler2 commented on #189
i'm having a similar problem

[2019-10-07 21:04] jsadler2 commented on #189
Did you ever find what was wrong, @jaythespacehound ?

[2019-10-07 22:17] jaythespacehound commented on #189
Nope I gave up and did it in C

[2019-10-20 20:43] weiji14 commented on #188
Hi there,

I've been trying to access the NSIDC OPeNDAP server to programmatically pull down some ICESAT2 data via [`intake-xarray`](https://github.com/intake/intake-xarray/) for the past week and just stumbled on this issue...

Just wondering if there's a way to incorporate that code snippet provided by @wallinb into `pydap` itself, and where would it go under the codebase (e.g. as a new module u

[2019-11-06 00:48] MadHobbs commented on #62
Hi, I'm trying to configure a proxy, but the documentation still refers to pydap.util which, as I understand, no longer exists. How does one configure a proxy now? Would you mind commenting with the code to set up a proxy with username and password? Thanks!

For reference, the old documentation about the proxy is [here](http://www.pydap.org/en/latest/client.html#configuring-a-proxy).

[2019-12-06 11:39] samburu commented on #205
Hey,

Please see the [instruction](https://disc.gsfc.nasa.gov/earthdata-login) for authorizing your account to access NASA GESDISC data.

[2019-12-06 16:45] #205 closed

[2019-12-18 00:52] Jerry-Ma commented on #53
[code]

The latest gunicorn have moved the class inside the serve function. The code now is broken.

[2020-02-05 03:27] rabernat opened #206 "module 'pydap' has no attribute '__version__'"
I just installed the latest version of pydap from pip.

[code]

[code]

This feels like very strange behavior for a python package...

[2020-02-14 14:39] albertotb opened #207 "ImportError: cannot import name 'PasterServerApplication' from 'gunicorn.app.pasterapp'"
Since the last Pypi version (3.2.2) I'm getting this error:

    Traceback (most recent call last):
      File "/home/alberto/anaconda3/bin/pydap", line 10, in <module>
        sys.exit(main())
      File "/home/alberto/anaconda3/lib/python3.7/site-packages/pydap/wsgi/app.py", line 225, in main
        from gunicorn.app.pasterapp import PasterServerApplication
    ImportError: cannot import name '

[2020-03-18 13:59] huard commented on #198
The solution is just to add the coordinate variables to the list of variables requetsted.
[code]

[2020-03-18 13:59] #198 closed

[2020-03-30 23:16] petejan commented on #196
This seemed to work for me,
in pydap/handlers/dap.py

[code]

[2020-04-02 00:51] shreddd opened #208 "Very slow directory reads for large files / directories (resulting in timeouts)"
It looks like pydap is trying to instantiate a `handler` object for every single file that it tries to list when calling get_handler:
https://github.com/pydap/pydap/blob/3f6aa190c59e3bbc6c834377a61579b20275ff69/src/pydap/handlers/lib.py#L72

However the calling function `supported` doesn't actually use this object so it isn't necessary to instantiate a new handler when doing a listing:
https://git

[2020-04-08 19:18] epifanio commented on #196
@petejan did you also tried to serve the same file via pydap-server or did you just to read it using pydap-client?

[2020-04-08 22:08] petejan commented on #196
I was using the pydap-client to open [http://thredds.aodn.org.au/thredds/catalog/IMOS/ABOS/SOTS/2018/catalog.html?dataset=IMOS/ABOS/SOTS/2018/IMOS_ABOS-SOTS_COSTZ_20180801_SOFS_FV00_SOFS-7.5-2018-SBE37SMP-ODO-RS232-03715969-30m_END-20190327_C-20190606.nc](http://thredds.aodn.org.au/thredds/catalog/IMOS/ABOS/SOTS/2018/catalog.html?dataset=IMOS/ABOS/SOTS/2018/IMOS_ABOS-SOTS_COSTZ_20180801_SOFS_FV00_

[2020-04-11 07:34] tirkarthi commented on #203
I have created https://github.com/pydap/pydap/pull/210 to fix this. Thanks.

[2020-04-24 12:22] neaptide commented on #184
Yep, this is a slicing problem.  I can confirm that this happens consistently for both the ascii and dods responses ending in the same `ValueError: cannot reshape array of size 16 into shape (5227,)` at the same point in code (line 177 of `handlers/netcdf/__init__.py`) but only when a variable is subindexed.  It functions as expected when the variable is not subset.

For example, this works and th

[2020-05-31 05:14] tshead2 commented on #207
Confirmed.

[2020-06-25 04:25] jalbert10NJ commented on #121
This (ostensibly resolved and closed) variable name doubling problem is *not* solved for me after
doing an update from Pydap 3.2.2 to Pydap commit fc0dd0e6f180e455dbb68a06a85f84b1eca6754f (via
python -m pip install git+https://github.com/pydap/pydap.git@fc0dd0e6f180e455dbb68a06a85f84b1eca6754f  ).
My colleagues and I still get the exact same following variable name doubling error:

ERROR: Uncaught

[2020-06-28 06:53] jalbert10NJ commented on #121
Apparently the above issue is due to the fact that one needs to fully pip uninstall Pydap before doing a pip install from a git repository, e.g. python -m pip install git+https://github.com/pydap/pydap.git@fc0dd0e6f180e455dbb68a06a85f84b1eca6754f (or just pip install git+https://github.com/pydap/pydap.git@fc0dd0e6f180e455dbb68a06a85f84b1eca6754f ), since if one already has Pydap 3.2.2 installed, t

[2020-06-28 06:57] jalbert10NJ opened #211 "variable name doubling issue needs fixing in default Pydap in PyPI"
reopening this issue per https://github.com/pydap/pydap/issues/121#issuecomment-650707053

[2020-07-06 16:43] loganbyers commented on #188
The issue persists as of this post.

The workaround mentioned by @wallinb works nearly verbatim, but the one thing I found is the `urlsplit` function in `def get_session (...` seems to be one of either [`urlparse.urlsplit`](https://docs.python.org/2/library/urlparse.html#urlparse.urlsplit) for Python 2 or [`urllib.parse.urlsplit`](https://docs.python.org/3/library/urllib.parse.html) for Python 3.

[2020-07-10 12:08] jerabaul29 opened #212 "providing up-to-date Pypi package"
It looks like the last PyDap release was in 2017 from the information on this page:

https://pypi.org/project/Pydap/#history

The package installed through pip is therefore quite outdated. For example, using pydap obtained from a pip install, this issue:

https://github.com/pydap/pydap/issues/162

is present, while using pydap installed from a git clone and local install, the issue is solved...

T

[2020-08-15 06:04] jayvdb opened #214 "StopIteration causing RuntimeError"
When running the test suite under
python 3.8
numpy 1.18.4
pytest 5.4.3
webtest 2.0.35

[code]

[2020-08-15 06:16] jayvdb opened #215 "i586 failures"
[code]

[2020-09-28 13:03] simonrp84 commented on #188
Likewise, the issue persists.

I think that the fix described by @wallinb works, but it also seems to download the entire file:
`session = get_session(url)` gives this debug message:
`2020-09-28 13:57:22,176 - urllib3.connectionpool - DEBUG - https://ladsweb.modaps.eosdis.nasa.gov:443 "GET /archive/allData/5200/VJ102IMG/2020/225/VJ102IMG.A2020225.0418.002.2020225101640.nc HTTP/1.1" 200 268321100`

[2020-11-18 13:50] anthonyatDLR opened #216 "Accesssing restricted data set from MERRA2: Unable to parse token: -128][lon"
Hello GitHub Users,

I was hoping one of you clever programmers/scientists could help me overcome an issue with my python code. This is my first time asking a question on the repository, so please let me know if I should provide more detail.

I would like to access MERRA 2 data using a python script. In particular, I would like to access temperature (T2M,TS), pressure (SLP,PS), humidity (QV2M) and

[2020-11-23 14:51] srepmub commented on #189
had a similar issue. problem in my case was that http 'gzip' encoding was used, and the latest pydap release does not check for this, leading to garbled data without a b'\nData:\n' part. the issue has been fixed in master. for a hotfix, use this in the bottom of the GET function in pydap/net.py:

    response = follow_redirect(url, application=application, session=session,

[2020-12-19 07:45] mhaberler commented on #197
I found that currently using a specific gunicorn version helps:

[code]

[2020-12-20 19:27] amotl opened #217 "ValueError: cannot reshape array"
Hi there,

first things first: Thanks a stack for conceiving such a fine piece of software.

When running the most recent version from master and accessing the data like
[code]

pydap croaks like
[code]

With kind regards,
Andreas.

[2020-12-20 19:29] amotl commented on #217
It looks like @jblarsen has already mitigated this problem through https://github.com/jblarsen/pydap/commit/1a46d93f9810b394e8616ee8e17b6df843bc1efc - thanks a bunch!

By using this installation command, everything works flawlessly on our end.
[code]

[2020-12-20 19:41] amotl commented on #212
Hi there,

first of all, I would like to salute @betodealmeida, @laliberte, @jameshiebert, @tomkralidis and all other contributors for conceiving and maintaining this excellent software package.

After coming here through https://github.com/earthobservations/wetterdienst/discussions/287#discussioncomment-223753 as suggested by @mhaberler, we found the package to be a little bit unmaintained. Howev

[2021-02-12 18:28] observingClouds commented on #212
Hi there,

I want to support the request of a new pypi package. We currently develop a tool for a broader community, where we rely on the solution of #154 which has been merged in October 2018. The dependency to this package could be mentioned in the `requirements.txt` by e.g.
[code]
but we would much rather prefer to be more general and reference it by e.g. `pydap>=3.2.3`.

This is a great packag

[2021-02-17 23:32] jondoesntgit commented on #207
Is there any devs who are still maintaining this project and are going to address this?

[2021-03-15 21:59] jondoesntgit opened #218 "Slices don't work"
It appears that taking slices doesn't seem to work.

I've been able to make some progress towards resolving this, but it seems that there is some major rework required inside of the responses to make this work. The responses all seem to caste sequences into structures. If you're trying to index a single basetype inside of a sequence, then the code does this:

1. Sees that you're trying to slice th

[2021-03-15 22:50] jondoesntgit opened #219 "SequenceType.dtype raises KeyError"
When you define a SequenceType, and then run `dir` on it, the results suggest that you should be able to call `dype` on it.

The fix is pretty straight-forward. Simply add this to `class StructureType:`

[code]

[2021-03-23 07:53] cskarby opened #220 "Even when passing timeout to open_url, it will not apply to server functions, which use the default timeout instead"
When `timeout` was introduced in 9f6bf495f6eab687653cec5e492d321ad2e02319 it was overlooked that it also needs to be passed for server side functions, see [src/pydap/client.py#L70](https://github.com/pydap/pydap/commit/9f6bf495f6eab687653cec5e492d321ad2e02319#diff-3af0d6ecab0ff9fa02e632181e445b5659fd59a2020065ecd980dc7199bc425cR70)

Passing timeout to server side functions is still missing in curr

[2021-07-07 22:25] pmreyes2 commented on #216
I believe the problem here is a bad slice translation from the URL, when the start is different than 0
The notation to download a slice of a variable is url?variable[start:step:stop] when opening the url using pydap open_url it should create the following slice: slice(start,stop+1, step), but instead it generates the slice: slice(start, stop-start+1,step)
What I tried was the slice [305:316] in th

[2021-07-12 19:22] pmreyes2 commented on #216
I have find a workaround: Forcing the slice to be the correct one before accessing the data:
Example: Obtaining a slice of a variable in a MERRA2 data file:
[code]
The slice for this dataset should be slice(10,15,1) but instead the slice generated is slice(10,5,1). Inspecting ds['lat']
`>>> ds['lat']`

`<BaseType with data BaseProxy('https://goldsmr4.gesdisc.eosdis.nasa.gov/opendap/MERRA2/M2T1NXSL

[2021-09-14 04:22] raybellwaves commented on #196
FYI also occurs on this file
[code]

[2021-09-14 20:07] raybellwaves opened #224 "tests fail with __getitem__() missing 1 required positional argument: 'user_charset'"
This was introduced in https://github.com/pydap/pydap/pull/223

e.g. running the test suite gives
[code]

There could be a smarter way to pass `user_charset` from `DAPHandler` to the functions with used to only take `r`

[2021-09-29 21:31] theochit commented on #203
I'm getting this warning in my project using PyDAP, is there any chance to merge that PR?

[2021-10-22 02:47] mbexhrs3 commented on #196
Have you solved this problem? I am getting the same error message:
++++++++ code +++++++++++
#from pydap.client import open_url
#import xarray as xr
#import time

thredds_url = 'https://thredds.daac.ornl.gov/thredds/dodsC/ornldaac/1840/' # ORNL DAAC TDS OPeNDAP URL
                                                                           # for Daymet V4 Daily Files

before = time.time()
cnt = 0
f

[2021-11-19 20:01] ChrisBarker-NOAA commented on #74
Ping!

Anyone made an progress on this? With all sorts of stuff being moved to the "Cloud" Zarr would be really nice. And xarray is a good way to get there.

[2021-11-19 21:14] rabernat commented on #74
To my knowledge no one has done further work on this issue. It's really too bad because it is a low-hanging fruit that would open up all kinds of cool possibilities.

The other day @jhamman told me that @markcapece of NOAA has developed a new package call zarrdap which meets a similar need - described obscurely here: https://markcapece.net/projects/creations/zarrdap/

[2021-11-20 14:08] captainkirk99 opened #226 "Consider adding DAP4 support to pydap"
What would be a good way to add DAP4 support to pydap?

That is something that I'm trying to figure out. I will use this issue to record results. Any feedback or suggestions are very welcome.

[2021-11-20 14:28] captainkirk99 commented on #226
Well the neat package pylint provides a pyreverse tool, which generates UML diagrams from code. Here's what it came up with for pydap:
![packages_pydap](https://user-images.githubusercontent.com/37277297/142729974-dd4a081d-863d-465a-a11d-903c935e402d.png)
![classes_pydap](https://user-images.githubusercontent.com/37277297/142729982-ad10e468-aa4c-44d1-9224-5db55f370ff6.png)

[2021-12-18 17:10] captainkirk99 opened #227 "pytest fails"
This is something I noticed some time ago. Is pytest expected to pass?

[code]

[2022-01-17 14:25] captainkirk99 commented on #203
I believe this PR should be merged.

[2022-01-17 14:55] captainkirk99 opened #231 "test_timeout failure"
[code]

[2022-01-17 16:49] tirkarthi commented on #203
The deprecations were removed in Python 3.10 where they will now raise ImportError.

[2022-01-17 16:51] captainkirk99 opened #232 "DeprecationWarning: tostring() is deprecated. Use tobytes() instead"
Many warnings like this:

` /home/ed/pydap/src/pydap/responses/dods.py:45: DeprecationWarning: tostring() is deprecated. Use tobytes() instead.`

According to this:
https://numpy.org/doc/stable/reference/generated/numpy.ndarray.tostring.html

tostring() and tobytes() have exactly the same behavior, so this is an easy fix.

And also:

[code]
I have fixes for both of these in my fork.

[2022-01-20 10:24] pmav99 commented on #212
Even if a release to PyPi is not feasible at the moment could we at least have a new `git tag` created? At the very least, this wou8ld allow to update the `conda-forge` package

https://github.com/conda-forge/pydap-feedstock/blob/d44ff3fec96792ea837d30fb5defa44a205a71a4/recipe/meta.yaml#L1-L11

pinging @tomkralidis since he is the one that merged the latest Pull Requests

[2022-01-20 22:06] #224 closed

[2022-01-20 22:18] tomkralidis commented on #206
(sorry, it's been awhile!)

@rabernat FYI this was implemented in https://github.com/pydap/pydap/pull/135, but we need to make a release.  Will close this one and suggest following #212.

[2022-01-20 22:18] #206 closed

[2022-01-20 22:24] tomkralidis opened #233 "accessing pydap.org results in DNS error"
Accessing http://pydap.org results in a DNS error on Cloudflare:

[code]

For background, we last looked at this during #169, and it appears that pydap.org is supposed to point to readthedocs.

@betodealmeida any idea on the DNS side?

cc @betodealmeida @jgallagher59701

[2022-01-20 22:41] tomkralidis commented on #212
Thanks for the report @pmav99 et al.  We will be cutting a new release shortly.

cc @jgallagher59701

[2022-01-20 22:43] betodealmeida commented on #233
The domain hasn't expired, and I haven't changed anything. I'm not super familiar with using a custom domain with readthedocs, but I can point it somewhere else if the IP has changed.

[2022-01-20 23:00] tomkralidis commented on #233
@betodealmeida current RTD setup says:

While we are at it, it's probably a good time to fix the HTTPS support.

[2022-01-22 20:58] captainkirk99 opened #234 "no longer need to use collections.OrderedDict in model.py"
In model.py we have:

[code]

Since python 3.7, an ordinary python dict is ordered. So we could probably get rid of OrderedDict everywhere it is being used.

[2022-01-23 15:03] captainkirk99 opened #235 "documentation not available?"
When I click on the "docs" button on the README, I get:

[code]

[2022-01-28 18:36] captainkirk99 opened #237 "Drop support for python2?"
The travis CI tests are failing for python2.

Can we drop support for python 2? Python 3 has been out forever, and I think everyone has stopped building code based on python 2...

This would involve turning off the CI tests in travis relating to python 2, and changing the README and any other appropriate documentation.

@jgallagher59701 also agrees with dropping python 2 support...

[2022-01-28 18:36] captainkirk99 opened #238 "Drop support for python2?"
The travis CI tests are failing for python2.

Can we drop support for python 2? Python 3 has been out forever, and I think everyone has stopped building code based on python 2...

This would involve turning off the CI tests in travis relating to python 2, and changing the README and any other appropriate documentation.

@jgallagher59701 also agrees with dropping python 2 support...

[2022-01-28 18:53] captainkirk99 opened #239 "test_timeout error in CI runs"
For the three python 3.x builds, the client side passes (16 passed, 367 deselected, 25 warnings in 1.73s) but the server tests have a single failure:

src/pydap/tests/test_server_devel.py ..F

1 failed, 374 passed, 8 skipped, 43 warnings in 9.46s

[code]

[2022-01-29 00:02] jgallagher59701 commented on #237
Yes, I do. One important use of PyDAP is as an access tool for Xarray (https://xarray.pydata.org/en/stable/getting-started-guide/installing.html) and Xarray now requires Python 3.7

[2022-01-29 00:03] jgallagher59701 commented on #238
Duplicate ot #237

[2022-01-29 13:48] #238 closed

[2022-01-29 13:49] captainkirk99 commented on #239
Duplicate of #231

[2022-01-29 13:49] #239 closed

[2022-01-29 14:02] captainkirk99 opened #240 "Release version 3.3.0?"
I believe there is general consensus that a release should be done before any further major changes. Does that make sense to everyone?

I propose a release after the following issues are resolved:
* #237
* #231
* #203
* #227

Basically the idea is to get tests passing and then do a release.

Then we can take a look at the outstanding PRs and see what should be merged...

[2022-01-30 11:44] brey commented on #240
I totally support this. We have a `conda-forge` package that relies on `pydap` and we really need to be able to include it in our recipe and not rely on a `pip install` of a specific commit afterwards. Do you have a timeframe? It will inform our next release.

[2022-01-30 14:57] captainkirk99 opened #242 "require that CI pass before merge to master is permitted"
All,

GitHub allows us to enforce that CI passes before a PR is merged.

To do this, I can make the change to the repo settings that will require this. All changes to master will have to be PRs (i.e. no direct pushes to master will be allowed from the command line), and all PRs must pass CI before they can be merged.

I use this on every other project, and it is a great feature, which prevents the

[2022-01-30 15:03] captainkirk99 commented on #240
Hopefully this will happen in the next few weeks.

[2022-01-30 15:13] captainkirk99 opened #244 "Add python 3.10 run to GitHub CI"
Right now the GitHub CI is using python 3.8.5. We need to add 3.10 to the mix to ensure we work well with it.

[2022-01-30 15:26] captainkirk99 commented on #244
OK, I've added all 3.6 through 3.10.

![image](https://user-images.githubusercontent.com/37277297/151705989-0b31839b-6fc1-4075-b321-77b6c89d87d8.png)

[2022-01-30 15:31] #203 closed

[2022-01-30 15:34] #244 closed

[2022-01-30 15:38] captainkirk99 opened #245 "Many warnings like: Unknown pytest.mark.auth - is this a typo? due to unregistered custom pytest marks."
We have many warnings like this:

[code]

These are easy to fix by registering our custom marks...

[2022-01-30 15:54] captainkirk99 commented on #227
OK, after some changes and commenting out one test, pytest is succeeded again, and is being run in the GitHub CI.

I will close this issue.

[2022-01-30 15:54] #227 closed

[2022-01-30 15:57] captainkirk99 commented on #171
Well did we ever get a lower-cased version of the logo? If so, I will add it to the documentation...

[2022-01-30 15:58] captainkirk99 commented on #122
See discussion in #240.

[2022-01-30 15:59] captainkirk99 commented on #240
Note there are a number of additional fixes requested for this release in #122.

Also the suggestion that the next release be called 3.3.0.

[2022-01-30 16:09] captainkirk99 commented on #240
I have started the draft release notes in the GitHub "Releases" page for this repo. Comments welcome...

[2022-01-30 16:11] captainkirk99 commented on #234
Since we are still supporting python 3.6, we still need OrderedDict. I will close this issue.

[2022-01-30 16:11] #234 closed

[2022-01-30 16:14] captainkirk99 commented on #226
I am working on this and have made some good progress. But before putting up any PRs, I'll get the 3.3.0 release out.

[2022-01-30 16:28] captainkirk99 opened #248 "Remove travis (was: Get travis working)"
Travis is not working, even when I submit a PR to the master branch from another branch in the same repo. So it seems like that should work, but it doesn't. I have asked @jgallagher59701 to add me (if needed) to the opendap group in travis, and maybe that will allow me to launch test runs from the travis side. (Right now, I cannot).

When I look in the settings, I see that we are sending the prope

[2022-01-30 16:53] tomkralidis commented on #171
Sounds good!

[2022-01-30 21:04] captainkirk99 commented on #248
I see this on my travis page:

`Since June 15th, 2021, the building on travis-ci.org is ceased. Please use travis-ci.com from now on.
`
Let me see if I can change that...

[2022-01-30 21:04] captainkirk99 commented on #248
I see this on my travis page:

`Since June 15th, 2021, the building on travis-ci.org is ceased. Please use travis-ci.com from now on.
`
Let me see if I can change that...

[2022-01-30 21:11] captainkirk99 commented on #248
OK, I made the change in settings from travis-ci.org to travis-ci.com, but that did not fix it. Could we have to re-do the ssh certificate?

[2022-01-31 12:44] #245 closed

[2022-01-31 12:44] #232 closed

[2022-01-31 12:53] captainkirk99 opened #251 "enable infinity for float attributes"
enable infinity for float attributes

[2022-01-31 12:57] #220 closed

[2022-01-31 13:01] captainkirk99 commented on #242
I have turned on these settings, to help me avoid mistaken merges to master.

I will close this issue. Please comment here if there are any objections or questions.

[2022-01-31 13:01] #251 closed

[2022-01-31 14:02] captainkirk99 opened #252 "documentation build fails"
The documentation build fails:

[code]

[2022-01-31 14:05] captainkirk99 commented on #252
OK, the answer is to explicitly install sphinx_rtd_theme:

`pip install sphinx_rtd_theme
`
Then the make html works.

[2022-01-31 14:05] #252 closed

[2022-01-31 14:05] captainkirk99 commented on #252
OK, the answer is to explicitly install sphinx_rtd_theme:

`pip install sphinx_rtd_theme
`
Then the make html works.

[2022-01-31 14:26] captainkirk99 opened #254 "add macOS to GitHub actions CI build"
It is easy to add macOS...

[2022-01-31 14:44] captainkirk99 opened #256 "pydap tests fail on macos for python >= 3.8"
[code]

[2022-01-31 19:23] 7yl4r commented on #171
If alterations are wanted on my file I can dig up my old `.svg` file but I think the consensus was to use @mandyellow 's logo. If ey has the original file in a format I can open with Inkscape then I am happy to modify. I could recreate it too. I will wait a bit to see if ey replies. Ideally we would include the vector file in this repo in addition to the `.jpg`/`.png` exports.

[2022-02-01 13:52] captainkirk99 commented on #256
This happens for python 3.8 and greater. Python 3.7 succeeds in all tests on macos.

[2022-02-01 13:52] captainkirk99 commented on #248
We have decided to remove travis and go with GitHub actions CI, which is working well for pydap right now.

[2022-02-01 13:53] #237 closed

[2022-02-01 13:53] #248 closed

[2022-02-01 14:35] captainkirk99 commented on #240
This has been released.

[2022-02-01 14:35] #240 closed

[2022-02-01 14:40] #235 closed

[2022-02-01 14:43] captainkirk99 commented on #233
OK, I have set up pydap docs on the GitHub gh-pages branch, which is a newish feature of GitHub that allows repos to put their documentation up on the web.

If you want to spin up a pydap.org site and put the docs there, go for it. But I don't think it's needed.

[2022-02-01 14:48] captainkirk99 commented on #170
Currently we are using the gh-pages website to serve the latest version of the docs. On other projects, I have extended this to show multiple versions of the documentation, but I am not intending to do that here.

In olden times packages had their own sites and did everything there. But nowadays, plenty of projects just use GitHub as their main site. I suggest that pydap do the same. Downloads and

[2022-02-01 14:48] #170 closed

[2022-02-01 14:49] captainkirk99 commented on #122
These have all been done, and released in 3.3.0. I will close this issue.

[2022-02-01 14:49] #122 closed

[2022-02-01 14:51] captainkirk99 commented on #118
Is this issue still active?

[2022-02-01 14:53] captainkirk99 commented on #212
A new release has been dropped.

I need to submit it to PyPi next...

[2022-02-01 15:08] captainkirk99 commented on #233
I note there is also a broken link to pydap.org on the main GitHub page (upper right). So we should either fix the server or remove the link.

[2022-02-24 01:05] jgallagher59701 opened #261 "Add trace mechanism so we can see network/http accesses"
A feature that would help debugging issues with packages like xarray is a way to trace the time pydap makes network (http/s) requests for data. If the information included both the URL (and query string) along with the HTTP response code, that would be huge. A 'very verbose' mode could include all the request and response headers.

Currently we have this with netcdf-c and libcurl via the env var C

[2022-02-24 21:24] abuddenb commented on #74
@ChrisBarker-NOAA @rabernat Took a little while: https://github.com/NCEI-NOAAGov/zarrdap

[2022-02-24 22:41] NiklasPhabian commented on #226
Ed. Super excited about your work here!

I am interested in deserializing DAP4 data objects (i.e. in the client) in the hopes of accessing the CRC32 Checksums of the dataset children. I'd think that as soon as you might have a DAP4 response implemented, I might have a chance of understanding DAP4 objects enough to make some progress.

[2022-02-25 00:33] ChrisBarker-NOAA commented on #74
Very cool -- awesome!

[2022-03-01 20:50] #208 closed

[2022-03-12 18:26] pmav99 commented on #212
Any updates on the PyPi package?

For the record, we want to release a package that depends on pydap 3.3.0 and we can't do so because when we try to upload our package, PyPi rejects it with:

This is a known issue that has been resolved as "won't fix". Further info: https://github.com/pypa/warehouse/issues/9404

[2022-03-12 18:32] tomkralidis commented on #212
@captainkirk99 any update on PyPI publishing?

[2022-03-14 22:41] pbregener commented on #240
Hi @captainkirk99,
I am using the 3.3.0 release from `conda-forge`, but just realized that 3.2.2 is still the latest one on `pypi`. Any chance that you can publish the update there as well?

[2022-03-17 17:59] mayowaosibodu commented on #121
Still experienced this issue today with the usual pip installed version.

Had to pip install from GitHub to resolve it.

[2022-05-13 06:57] a-schneider-fmi opened #263 "ValueError when trying to access data from thredds.met.no"
Trying to access a subset of data from a dataset at thredds.met.no, a ValueError (buffer size must be a multiple of element size) occurs with pydap version 3.3.0 or the latest version from the master branch. This can be reproduced as follows:
[code]
As pointed out by met.no's helpdesk, the data can be accessed with curl asking for ASCII output
[code]
which indicates that the problem lies on pydap'

[2022-06-07 16:45] pmav99 commented on #212
Just a reminder, if you find the time to pubilsh on PyPI, it would be really great :)

[2022-06-09 22:35] MHee opened #264 "pydap fails with Python 3.10"
The import

in model.py fails with Python 3.10

This seems to be a known problem with an easy fix:
https://stackoverflow.com/a/71438295

The change of the line below seems to fix the problem:

[2022-06-09 23:06] MHee commented on #264
Never mind, pip installed an older version.

installed pydap-3.3.0 and fixed the problem...

[2022-06-09 23:06] #264 closed

[2022-07-13 09:42] theendlessriver13 commented on #264
There was no release to PyPi since 2017, so the latest version there is `3.2.2` https://pypi.org/project/Pydap/#history.

Unfortunately this breaks `xarray[io]` for me on python3.10
https://github.com/pydata/xarray/blob/e5fcd7935df16e3a5c168f4b64ddcb4d619570da/setup.cfg#L83

Would it be possible to make a release of `3.3.0` to PyPi as well?

[2022-07-21 19:04] NiklasPhabian commented on #226
Alberto, we are working on the DAP4 implementation over at the [OPeNDAP fork of pydap](https://github.com/OPENDAP/pydap/pull/1). I'd love to add the dataset you provided to the examples/tests. Could you post some examples lines of how you are trying to access (and potentially subsetting) the dataset via pydap?

I'd imagine maybe something like:

[code]

[2022-07-22 08:37] albertotb commented on #226
@NiklasPhabian Unfortunately I've lost the example code I was using, but it was basically something like that. I've also tried using directly `xarray` with the `pydap` backend. However, as I recall there was some trouble since the Earthdata catalogue needs authentication. There are some instructions [here](https://urs.earthdata.nasa.gov/documentation/for_users/data_access/pydap), but I think I end

[2022-07-22 21:17] NiklasPhabian commented on #226
OK. That is good enough!

Yes. Certainly, something we want to address. You can always extend the ```requests.Session``` class like [here](https://github.com/NiklasPhabian/ladsweb_downloader/blob/ab5e76a8f5e92cd676fa06e1f87b2723de39c732/ladsweb_file.py#L14). Then instantiate this extended session using your username and password and feed this session into pydap.client's ```open_url()``` function:

[2022-08-24 11:53] zachsa commented on #212
the most resent version on PyPI is from 2017 - are there any reasons not to publish 3.3.0 to PyPI?

[2022-08-24 12:41] tomkralidis commented on #212
@captainkirk99 any update on PyPI publishing?

[2022-08-26 19:30] captcha1 opened #267 "collections.Iterable not found"
When I install pydap (on Fedora 36 w/ Python 3.10.6), I need to change collections.Iterable to collections.abc.Iterable :

[code]

[2022-08-30 08:05] mathause opened #268 "release new version to pypi?"
pydap 3.3 is [released on conda](https://anaconda.org/conda-forge/pydap) but [not on pypi](https://pypi.org/project/Pydap/) - would be nice if it could also be released to pypi (#267,  pydata/xarray#6960) so it can be installed properly via pip.

[2022-09-05 16:31] headtr1ck commented on #267
Should be solved when using pydap 3.3

[2022-09-05 16:32] headtr1ck commented on #256
Same happens on windows with python 3.9

[2022-09-05 16:34] headtr1ck commented on #268
See also https://github.com/pydap/pydap/issues/212

[2022-09-06 13:59] jgliss opened #269 "Input timeout value in dap.py not properly propagated down to BaseProxy and SequenceProxy"
Refers to module `pydap.handlers.dap.py`.

Class `DAPHandler` has input option `timeout` which is not passed on to inits of `BaseProxy` and `SequenceProxy` in when instantating `DAPHandler`.

I do not have the full overview here but I believe most of the actual data fetching from remote sources happens via `BaseProxy`. I ran into issues with the 120s default timeout trying to access rather large g

[2022-10-14 21:55] ghost opened #273 "ValueError: buffer size must be a multiple of element size"
I thought this was a relatively straightforward data pull (because it parallels the main example at https://www.pydap.org/en/latest/client.html quite closely) but I got an error. What am I doing wrong?
[code]

[2022-10-17 20:31] DanCodigaMWRA commented on #263
I can reproduce this error.
And it seems similar to or same as the question I just posted: #273.
Might also be related to #218 @jondoesntgit ?

[2022-10-31 09:58] pmav99 commented on #212
Don't want to be a pest, but a PyPI release would be great! :)

Since @captainkirk99 is not responding (I really hope everything is fine..) I am pinging the other maintainers of the pydap package on PyPI hoping that they still have access: @shoyer @betodealmeida @jameshiebert

[2022-11-03 03:01] faridfarhat opened #274 "AttributeError: '<class 'pydap.model.DatasetType'>' object has no attribute 'decode'"
I want to access GPM precipitation from NASA. But when I open the data with xarray, it returns this attribute error. I also updated xarray to the latest version, as was suggested in previous issues. Still it is not working.

import xarray as xr
from pydap.client import open_url
from pydap.cas.urs import setup_session

url='https://gpm1.gesdisc.eosdis.nasa.gov/opendap/GPM_L3/GPM_3IMERGDE.06/2000/06